Repository paunchygent/huleedu: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-agents-md, validate-tasks-frontmatter, validate-docs-structure, validate-claude-structure, markdownlint, format-python, lint-python

sync-agents-md:
  name: Sync AGENTS.md to AI assistant files
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && pdm run python scripts/utils/sync_agents_md.py'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-tasks-frontmatter:
  name: Validate TASKS frontmatter and structure
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && pdm run python -m scripts.task_mgmt.validate_front_matter'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-docs-structure:
  name: Validate documentation structure
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && pdm run python -m scripts.docs_mgmt.validate_docs_structure'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-claude-structure:
  name: Validate .claude/ structure and rule frontmatter
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && pdm run python -m scripts.claude_mgmt.validate_claude_structure'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

markdownlint:
  name: Lint markdown files
  entry: markdownlint --fix --config .markdownlint.json
  language: node
  additional_dependencies:
  - markdownlint-cli@0.45.0
  stages:
  - pre-commit

format-python:
  name: Format Python files with ruff
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && git ls-files "*.py" | xargs -r pdm run ruff format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

lint-python:
  name: Lint Python files with ruff
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && git ls-files "*.py" | xargs -r pdm run ruff check --fix --unsafe-fixes'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(cj): generalize RESAMPLING for regular (non-small) batches
  services/cj_assessment_service/cj_core_logic/workflow_context.py
  services/cj_assessment_service/cj_core_logic/workflow_continuation.py
  services/cj_assessment_service/cj_core_logic/workflow_decision.py
  services/cj_assessment_service/tests/unit/test_workflow_diagnostics.py
  services/cj_assessment_service/tests/unit/test_workflow_small_net_resampling.py
Due: format-python, lint-python

test(cj): add positional fairness helper for A/B count analysis
  services/cj_assessment_service/tests/helpers/positional_fairness.py
  services/cj_assessment_service/tests/unit/test_positional_fairness_helper.py
Due: format-python, lint-python

test(cj): expand docker integration tests for continuation and resampling
  tests/integration/test_cj_regular_batch_resampling_docker.py
  tests/integration/test_cj_small_net_continuation_docker.py
Due: format-python, lint-python

docs: update CJ task tracking and runbooks for orientation strategy
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/README.md
  TASKS/assessment/cj-positional-orientation-strategy-for-coverage-and-resampling.md
  TASKS/assessment/cj-resampling-a-b-positional-fairness.md
  TASKS/assessment/cj-resampling-mode-generalization-for-all-batch-sizes.md
  TASKS/assessment/pr-7-phase-2-resampling-and-convergence-harness.md
  TASKS/assessment/us-0051-callback-driven-continuation-and-safe-completion-gating.md
  docs/operations/cj-assessment-runbook.md
  docs/product/epics/cj-stability-and-reliability-epic.md
  docs/product/epics/dev-tooling-script-consolidation-epic.md
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint

fix(cj): complete orientation_strategy DI wiring and fix argument order
  services/cj_assessment_service/cj_core_logic/batch_callback_handler.py
  services/cj_assessment_service/cj_core_logic/pair_orientation.py
  services/cj_assessment_service/cj_core_logic/workflow_continuation.py
  services/cj_assessment_service/cj_core_logic/workflow_orchestrator.py
  services/cj_assessment_service/di.py
  services/cj_assessment_service/event_processor.py
  services/cj_assessment_service/kafka_consumer.py
  services/cj_assessment_service/message_handlers/cj_request_handler.py
  services/cj_assessment_service/message_handlers/llm_callback_handler.py
  services/cj_assessment_service/tests/integration/callback_simulator.py
  services/cj_assessment_service/tests/integration/test_error_handling_integration.py
  services/cj_assessment_service/tests/integration/test_metadata_persistence_integration.py
  services/cj_assessment_service/tests/integration/test_real_database_integration.py
  services/cj_assessment_service/tests/unit/test_cj_idempotency_failures.py
  services/cj_assessment_service/tests/unit/test_event_processor_identity_threading.py
  services/cj_assessment_service/tests/unit/test_event_processor_prompt_context.py
  services/cj_assessment_service/tests/unit/test_llm_callback_processing.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation_metadata_bt_flags.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation_orchestration.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation_success_rate.py
  services/cj_assessment_service/tests/unit/test_workflow_small_net_resampling.py
Due: format-python, lint-python

fix(cj): use RNG fallback for equal-skew orientation + add DB tests
  .claude/work/session/handoff.md
  services/cj_assessment_service/cj_core_logic/pair_orientation.py
  services/cj_assessment_service/tests/integration/test_llm_payload_construction_integration.py
  services/cj_assessment_service/tests/integration/test_real_database_integration.py
  services/cj_assessment_service/tests/unit/test_pair_generation_orientation_counts.py
  services/cj_assessment_service/tests/unit/test_pair_orientation_strategy.py
Due: markdownlint, format-python, lint-python

feat(cj): add pair_generation_mode tracking to comparison pairs
  services/cj_assessment_service/alembic/versions/20251207_0136_2ea57f0f8b9d_add_pair_generation_mode_to_comparison_.py
  services/cj_assessment_service/models_db.py
  services/cj_assessment_service/tests/integration/test_pair_generation_mode_migration.py
Due: format-python, lint-python

feat(cj): implement orientation strategy in pair generation
  services/cj_assessment_service/cj_core_logic/batch_processor.py
  services/cj_assessment_service/cj_core_logic/batch_submission.py
  services/cj_assessment_service/cj_core_logic/batch_submission_tracking.py
  services/cj_assessment_service/cj_core_logic/comparison_batch_orchestrator.py
  services/cj_assessment_service/cj_core_logic/comparison_processing.py
  services/cj_assessment_service/cj_core_logic/pair_generation.py
  services/cj_assessment_service/cj_core_logic/workflow_continuation.py
  services/cj_assessment_service/cj_core_logic/workflow_decision.py
Due: format-python, lint-python

test(cj): expand positional fairness helper with mode tracking
  services/cj_assessment_service/tests/helpers/positional_fairness.py
  services/cj_assessment_service/tests/unit/test_positional_fairness_helper.py
Due: format-python, lint-python

test(cj): update integration tests for orientation strategy
  services/cj_assessment_service/tests/integration/test_llm_payload_construction_integration.py
  services/cj_assessment_service/tests/integration/test_metadata_persistence_integration.py
  services/cj_assessment_service/tests/integration/test_pair_generation_randomization_integration.py
  services/cj_assessment_service/tests/integration/test_system_prompt_hierarchy_integration.py
Due: format-python, lint-python

test(cj): expand docker integration tests for orientation modes
  tests/integration/test_cj_regular_batch_resampling_docker.py
  tests/integration/test_cj_small_net_continuation_docker.py
Due: format-python, lint-python

docs: update CJ orientation strategy task tracking and runbooks
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/cj-positional-orientation-strategy-for-coverage-and-resampling.md
  TASKS/assessment/cj-resampling-a-b-positional-fairness.md
  docs/operations/cj-assessment-runbook.md
  docs/product/epics/cj-stability-and-reliability-epic.md
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint

chore: add mock_profile pytest marker for LLM testing
  pyproject.toml
  scripts/llm_mgmt/mock_profile_helper.sh
Due: none

docs(cj): mark US-005.1 callback-driven continuation task complete
  TASKS/assessment/us-0051-callback-driven-continuation-and-safe-completion-gating.md
Due: validate-tasks-frontmatter, markdownlint

docs(cj): clarify resampling_pass_count semantics in workflow continuation
  services/cj_assessment_service/cj_core_logic/workflow_continuation.py
  services/cj_assessment_service/cj_core_logic/workflow_decision.py
  services/cj_assessment_service/tests/unit/test_workflow_small_net_resampling.py
Due: format-python, lint-python

feat(cj): enforce strict total_budget-only completion semantics per ADR-0020
  .claude/work/session/handoff.md
  TASKS/assessment/cj-completion-semantics-v2-enforce-total-budget-and-remove-nc2-fallback.md
  docs/architecture/cj-assessment-service-map.md
  docs/decisions/0020-cj-assessment-completion-semantics-v2.md
  docs/product/epics/cj-stability-and-reliability-epic.md
  services/cj_assessment_service/batch_monitor.py
  services/cj_assessment_service/cj_core_logic/batch_completion_checker.py
  services/cj_assessment_service/cj_core_logic/batch_completion_policy.py
  services/cj_assessment_service/cj_core_logic/workflow_continuation.py
  services/cj_assessment_service/models_db.py
  services/cj_assessment_service/tests/integration/test_async_workflow_continuation_integration.py
  services/cj_assessment_service/tests/integration/test_incremental_scoring_integration.py
  services/cj_assessment_service/tests/integration/test_outbox_pattern_integration.py
  services/cj_assessment_service/tests/unit/test_batch_completion_checker.py
  services/cj_assessment_service/tests/unit/test_batch_completion_policy.py
  services/cj_assessment_service/tests/unit/test_batch_monitor_unit.py
  services/cj_assessment_service/tests/unit/test_callback_state_manager.py
  services/cj_assessment_service/tests/unit/test_callback_state_manager_extended.py
  services/cj_assessment_service/tests/unit/test_completion_threshold.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation_check.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

refactor(cj): split cli_admin.py into modular cli/ package
  services/cj_assessment_service/cli/__init__.py
  services/cj_assessment_service/cli/auth.py
  services/cj_assessment_service/cli/config.py
  services/cj_assessment_service/cli/instructions.py
  services/cj_assessment_service/cli/main.py
  services/cj_assessment_service/cli/prompts.py
  services/cj_assessment_service/cli/rubrics.py
  services/cj_assessment_service/cli/scales.py
  services/cj_assessment_service/cli/token.py
  services/cj_assessment_service/cli/utils.py
  services/cj_assessment_service/cli_admin.py
  services/cj_assessment_service/tests/integration/test_student_prompt_workflow.py
  services/cj_assessment_service/tests/unit/test_admin_cli.py
  services/cj_assessment_service/tests/unit/test_cli_prompt_commands.py
Due: format-python, lint-python

feat(cj): harden batch callback completion and workflow continuation
  services/cj_assessment_service/cj_core_logic/batch_completion_policy.py
  services/cj_assessment_service/cj_core_logic/batch_finalizer.py
  services/cj_assessment_service/cj_core_logic/workflow_continuation.py
  services/cj_assessment_service/kafka_consumer.py
  services/cj_assessment_service/tests/unit/test_batch_completion_policy.py
  services/cj_assessment_service/tests/unit/test_batch_finalizer_idempotency.py
  services/cj_assessment_service/tests/unit/test_batch_finalizer_scoring_state.py
  services/cj_assessment_service/tests/unit/test_single_essay_completion.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation_orchestration.py
Due: format-python, lint-python

feat(cj,lps): wire preferred_bundle_size hints for serial bundling
  services/cj_assessment_service/cj_core_logic/batch_retry_processor.py
  services/cj_assessment_service/cj_core_logic/comparison_batch_orchestrator.py
  services/cj_assessment_service/cj_core_logic/llm_batching.py
  services/cj_assessment_service/cj_core_logic/llm_batching_service.py
  services/cj_assessment_service/tests/unit/test_llm_batching_config.py
  services/cj_assessment_service/tests/unit/test_llm_batching_metadata.py
  services/cj_assessment_service/tests/unit/test_retry_logic.py
  services/llm_provider_service/config.py
  services/llm_provider_service/implementations/llm_override_utils.py
  services/llm_provider_service/implementations/request_strategies.py
  services/llm_provider_service/tests/integration/test_serial_bundle_integration.py
  services/llm_provider_service/tests/unit/test_llm_override_utils.py
  services/llm_provider_service/tests/unit/test_serial_bundle_strategy.py
  tests/integration/test_cj_lps_metadata_roundtrip.py
Due: format-python, lint-python

refactor(tests): reorganize ENG5 mock parity tests into dedicated suite
  pyproject.toml
  scripts/llm_mgmt/eng5_cj_docker_suite.sh
  scripts/llm_mgmt/mock_profile_helper.sh
  tests/eng5_profiles/__init__.py
  tests/eng5_profiles/test_cj_mock_parity_generic.py
  tests/eng5_profiles/test_eng5_mock_parity_full_anchor.py
  tests/eng5_profiles/test_eng5_mock_parity_lower5.py
  tests/eng5_profiles/test_eng5_profile_suite.py
  tests/integration/test_cj_regular_batch_callbacks_docker.py
Due: format-python, lint-python

docs(cj): add US-005.6 BatchMonitor separation of concerns task and ADR
  TASKS/assessment/batchmonitor-separation-of-concerns.md
  TASKS/assessment/refactor-cj-assessment-service-for-compliance.md
  docs/decisions/0022-batchmonitor-separation-of-concerns.md
  docs/product/epics/cj-stability-and-reliability-epic.md
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint

docs: update session context and task documentation
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  AGENTS.md
  CLAUDE.md
  CODEX.md
  GEMINI.md
  TASKS/assessment/cj-llm-provider-batch-api-mode.md
  TASKS/assessment/cj-llm-serial-bundle-validation-fixes.md
  TASKS/infrastructure/llm-mock-provider-cj-behavioural-parity-tests.md
  docker-compose.services.yml
  docs/decisions/0017-cj-assessment-wave-submission-pattern.md
  docs/operations/cj-assessment-runbook.md
  docs/operations/eng5-np-runbook.md
  services/llm_provider_service/README.md
Due: sync-agents-md, validate-tasks-frontmatter, validate-docs-structure, markdownlint

feat(bff,gateway): add API Gateway routing to BFF Teacher Service
  .claude/hooks/enforce-tasks-structure.sh
  .claude/rules/000-rule-index.md
  .claude/rules/020.21-bff-teacher-service.md
  .claude/rules/200-frontend-core-rules.md
  .claude/rules/201-tailwind-4.md
  .gitignore
  .windsurf/rules/000-rule-index.md
  .windsurf/rules/020.21-bff-teacher-service.md
  .windsurf/rules/200-frontend-core-rules.md
  .windsurf/rules/201-tailwind-4.md
  TASKS/_REORGANIZATION_PROPOSAL.md
  TASKS/frontend/bff-service-implementation-plan.md
  TASKS/frontend/bff-vue-3-frontend-integration-design.md
  TASKS/frontend/frontend-readiness-checklist.md
  TASKS/frontend/svelte5-cors-and-dev-utilities.md
  docker-compose.services.yml
  docs/how-to/FRONTEND_INTEGRATION_INDEX.md
  docs/operations/bff-and-frontend-development.md
  frontend/.claude/work/session/handoff.md
  frontend/TASKS/integration/bff-service-implementation-plan.md
  frontend/TASKS/integration/bff-vue-3-frontend-integration-design.md
  pdm.lock
  scripts/schemas/task_schema.py
  scripts/task_mgmt/validate_front_matter.py
  services/api_gateway_service/app/main.py
  services/api_gateway_service/config.py
  services/api_gateway_service/routers/bff_teacher_routes.py
  services/bff_teacher_service/api/__init__.py
  services/bff_teacher_service/api/v1/__init__.py
  services/bff_teacher_service/api/v1/teacher_routes.py
  services/bff_teacher_service/app.py
  services/bff_teacher_service/clients/__init__.py
  services/bff_teacher_service/config.py
  services/bff_teacher_service/dto/__init__.py
  services/bff_teacher_service/dto/teacher_v1.py
Due: validate-tasks-frontmatter, validate-docs-structure, validate-claude-structure, markdownlint, format-python, lint-python

Refactor API Gateway batch routes and finalize ENG5 CJ serial-bundle harness
  .claude/work/session/handoff.md
  TASKS/assessment/cj-llm-serial-bundle-validation-fixes.md
  services/api_gateway_service/app/main.py
  services/api_gateway_service/routers/_batch_utils.py
  services/api_gateway_service/routers/batch_commands.py
  services/api_gateway_service/routers/batch_pipelines.py
  services/api_gateway_service/routers/batch_queries.py
  services/api_gateway_service/routers/batch_routes.py
  services/api_gateway_service/routers/status_routes.py
  services/api_gateway_service/tests/conftest.py
  services/api_gateway_service/tests/test_batch_preflight.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

refactor(cj): BatchMonitor separation of concerns and forced_recovery status
  services/cj_assessment_service/alembic/versions/20251208_1200_cj_forced_recovery_status.py
  services/cj_assessment_service/batch_monitor.py
  services/cj_assessment_service/cj_core_logic/batch_finalizer.py
  services/cj_assessment_service/enums_db.py
  services/cj_assessment_service/tests/integration/test_cj_batch_status_forced_recovery_migration.py
  services/cj_assessment_service/tests/unit/test_batch_finalizer_idempotency.py
  services/cj_assessment_service/tests/unit/test_batch_finalizer_scoring_state.py
  services/cj_assessment_service/tests/unit/test_batch_monitor_unit.py
Due: format-python, lint-python

feat(cms): add batch class info internal endpoint for BFF aggregation
  services/class_management_service/api/internal_routes.py
  services/class_management_service/implementations/class_management_service_impl.py
  services/class_management_service/implementations/class_repository_mock_impl.py
  services/class_management_service/implementations/class_repository_postgres_impl.py
  services/class_management_service/protocols.py
  services/class_management_service/tests/unit/test_batch_class_info.py
Due: format-python, lint-python

feat(bff): update teacher dashboard endpoint with class aggregation
  services/api_gateway_service/tests/test_bff_teacher_routes.py
  services/bff_teacher_service/api/v1/teacher_routes.py
  services/bff_teacher_service/dto/teacher_v1.py
Due: format-python, lint-python

feat(frontend): add teacher dashboard service layer and schemas
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/api-client.ts
  frontend/src/schemas/teacher-dashboard.ts
  frontend/src/services/teacher-dashboard.spec.ts
  frontend/src/services/teacher-dashboard.ts
  frontend/styles/src/huleedu-landing-final.html
Due: none

refactor(ci): add ENG5 heavy-C lane workflow and reorganize functional tests
  .claude/rules/101-ci-lanes-and-heavy-suites.md
  .github/workflows/eng5-heavy-suites.yml
  scripts/llm_mgmt/eng5_cj_docker_suite.sh
  tests/functional/cj_eng5/test_cj_regular_batch_callbacks_docker.py
  tests/functional/cj_eng5/test_cj_regular_batch_resampling_docker.py
  tests/functional/cj_eng5/test_cj_small_net_continuation_docker.py
Due: validate-claude-structure, markdownlint, format-python, lint-python

docs: update task documentation, ADRs, and session context
  .claude/archive/README.md
  .claude/archive/reports/teacher-dashboard-endpoint-implementation-plan-2025-12-09.md
  .claude/rules/070-testing-and-quality-assurance.md
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  .windsurf/rules/070-testing-and-quality-assurance.md
  .windsurf/rules/101-ci-lanes-and-heavy-suites.md
  TASKS/assessment/batchmonitor-separation-of-concerns.md
  TASKS/assessment/cj-llm-serial-bundle-validation-fixes.md
  TASKS/assessment/cj-resampling-a-b-positional-fairness.md
  TASKS/assessment/cj-resampling-mode-generalization-for-all-batch-sizes.md
  TASKS/assessment/pr-7-phase-2-resampling-and-convergence-harness.md
  TASKS/assessment/us-0051-callback-driven-continuation-and-safe-completion-gating.md
  TASKS/infrastructure/eng5-heavy-ci-matrix-and-healthcheck-tuning.md
  TASKS/infrastructure/llm-mock-provider-cj-behavioural-parity-tests.md
  TASKS/integration/bff-dashboard-service-implementation.md
  TASKS/programs/teacher_dashboard_integration/HUB.md
  TASKS/programs/teacher_dashboard_integration/bff-teacher-api-contract-validation.md
  TASKS/programs/teacher_dashboard_integration/bff-teacher-dashboard-endpoint.md
  TASKS/programs/teacher_dashboard_integration/bff-teacher-service-internal-clients.md
  TASKS/programs/teacher_dashboard_integration/cms-batch-class-info-internal-endpoint.md
  docs/decisions/0007-bff-vs-api-gateway-pattern.md
  docs/decisions/0022-batchmonitor-separation-of-concerns.md
  docs/decisions/0024-eng5-heavy-c-lane-ci-strategy.md
  docs/operations/cj-assessment-runbook.md
  docs/operations/eng5-np-runbook.md
  docs/product/epics/ci-test-lanes-and-eng5-heavy-suites.md
  frontend/TASKS/integration/bff-service-implementation-plan.md
Due: validate-tasks-frontmatter, validate-docs-structure, validate-claude-structure, markdownlint

fix(frontend): update landing page content and layout
  frontend/styles/src/huleedu-landing-final.html
  frontend/styles/src/tailwind.css
Due: none

refactor(llm): switch default provider to OpenAI gpt-5.1 and deprecate USE_MOCK_LLM alias
  .claude/rules/020.13-llm-provider-service-architecture.md
  .claude/rules/020.7-cj-assessment-service.md
  .windsurf/rules/020.13-llm-provider-service-architecture.md
  .windsurf/rules/020.7-cj-assessment-service.md
  docker-compose.services.yml
  docs/operations/llm-provider-configuration-hierarchy.md
  docs/overview/developer-onboarding.md
  env.example
  frontend/docs/overview/developer-onboarding.md
  services/cj_assessment_service/config.py
  services/llm_provider_service/config.py
  tests/README.md
  tests/functional/conftest.py
Due: validate-docs-structure, validate-claude-structure, markdownlint, format-python, lint-python

fix(ci): add MAX_PAIRWISE_COMPARISONS=288 to ENG5 heavy suites
  .github/workflows/eng5-heavy-suites.yml
  scripts/llm_mgmt/eng5_cj_docker_suite.sh
  scripts/llm_mgmt/mock_profile_helper.sh
  tests/functional/cj_eng5/test_cj_regular_batch_callbacks_docker.py
  tests/functional/cj_eng5/test_cj_regular_batch_resampling_docker.py
  tests/functional/cj_eng5/test_cj_small_net_continuation_docker.py
  tests/utils/metrics_helpers.py
Due: format-python, lint-python

feat(bff): implement BFF Teacher Service with internal clients
  services/api_gateway_service/tests/test_batch_queries.py
  services/bff_teacher_service/__init__.py
  services/bff_teacher_service/api/health_routes.py
  services/bff_teacher_service/api/spa_routes.py
  services/bff_teacher_service/api/v1/teacher_routes.py
  services/bff_teacher_service/app.py
  services/bff_teacher_service/clients/__init__.py
  services/bff_teacher_service/clients/_utils.py
  services/bff_teacher_service/clients/cms_client.py
  services/bff_teacher_service/clients/ras_client.py
  services/bff_teacher_service/config.py
  services/bff_teacher_service/di.py
  services/bff_teacher_service/dto/teacher_v1.py
  services/bff_teacher_service/middleware.py
  services/bff_teacher_service/protocols.py
  services/bff_teacher_service/tests/__init__.py
  services/bff_teacher_service/tests/test_provider.py
  services/bff_teacher_service/tests/unit/__init__.py
  services/bff_teacher_service/tests/unit/test_cms_client.py
  services/bff_teacher_service/tests/unit/test_ras_client.py
  services/bff_teacher_service/tests/unit/test_teacher_routes.py
  tests/functional/test_bff_teacher_dashboard_functional.py
Due: format-python, lint-python

docs: update task documentation and session context
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/cj-llm-serial-bundle-validation-fixes.md
  TASKS/identity/api-gateway-batch-listing-endpoint-tests.md
  TASKS/integrations/bff-dashboard-service-implementation.md
  TASKS/programs/teacher_dashboard_integration/HUB.md
  TASKS/programs/teacher_dashboard_integration/bff-teacher-api-contract-validation.md
  TASKS/programs/teacher_dashboard_integration/bff-teacher-dashboard-endpoint.md
  TASKS/programs/teacher_dashboard_integration/bff-teacher-service-internal-clients.md
Due: validate-tasks-frontmatter, markdownlint

docs: update handoff and task docs with ENG5 CI completion status
  .claude/work/session/handoff.md
  TASKS/assessment/cj-llm-serial-bundle-validation-fixes.md
Due: validate-tasks-frontmatter, markdownlint

ENG5: wire mock-profile LPS metrics and refactor anchor parity tests
  .claude/work/session/handoff.md
  TASKS/architecture/research-plan-richer-mock-llm-provider.md
  TASKS/assessment/cj-llm-serial-bundle-validation-fixes.md
  TASKS/infrastructure/llm-mock-provider-cj-behavioural-parity-tests.md
  docs/operations/eng5-np-runbook.md
  services/api_gateway_service/README.md
  tests/eng5_profiles/_lps_helpers.py
  tests/eng5_profiles/cj_mock_parity_generic_coverage_impl.py
  tests/eng5_profiles/cj_mock_parity_generic_impl.py
  tests/eng5_profiles/cj_mock_parity_generic_parity_impl.py
  tests/eng5_profiles/eng5_lps_metrics_assertions.py
  tests/eng5_profiles/eng5_mock_parity_full_anchor_parity_impl.py
  tests/eng5_profiles/eng5_mock_parity_lower5_diagnostics_impl.py
  tests/eng5_profiles/eng5_mock_parity_lower5_parity_impl.py
  tests/eng5_profiles/test_cj_mock_parity_generic.py
  tests/eng5_profiles/test_eng5_mock_parity_full_anchor.py
  tests/eng5_profiles/test_eng5_mock_parity_lower5.py
  tests/eng5_profiles/test_eng5_profile_suite.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

feat(lps): implement Phase-2 batch API job manager and BATCH_API queue path
  TASKS/assessment/cj-llm-provider-batch-api-mode.md
  TASKS/integrations/llm-provider-batch-api-phase-2.md
  services/llm_provider_service/di.py
  services/llm_provider_service/implementations/batch_api_strategy.py
  services/llm_provider_service/implementations/batch_job_manager_mock.py
  services/llm_provider_service/implementations/queue_processing_loop.py
  services/llm_provider_service/implementations/queue_processor_impl.py
  services/llm_provider_service/implementations/queue_request_executor.py
  services/llm_provider_service/implementations/request_strategies.py
  services/llm_provider_service/internal_models.py
  services/llm_provider_service/protocols.py
  services/llm_provider_service/tests/integration/test_queue_metrics_batch_api.py
  services/llm_provider_service/tests/unit/test_batch_api_strategy.py
  services/llm_provider_service/tests/unit/test_queue_processor_error_handling.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

feat(bff): complete Teacher Dashboard with contracts, hot-reload, and edge cases
  TASKS/programs/teacher_dashboard_integration/HUB.md
  TASKS/programs/teacher_dashboard_integration/bff-teacher-api-contract-validation.md
  TASKS/programs/teacher_dashboard_integration/bff-teacher-dashboard-endpoint.md
  docker-compose.dev.yml
  docs/reference/apis/bff-teacher-openapi.json
  docs/reference/apis/bff-teacher-types.ts
  pyproject.toml
  services/bff_teacher_service/Dockerfile.dev
  services/bff_teacher_service/README.md
  services/bff_teacher_service/api/v1/teacher_routes.py
  services/bff_teacher_service/dto/teacher_v1.py
  services/bff_teacher_service/tests/contract/__init__.py
  services/bff_teacher_service/tests/contract/test_dto_contracts.py
  services/bff_teacher_service/tests/unit/test_dashboard_edge_cases.py
  services/bff_teacher_service/tests/unit/test_teacher_routes.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

Path conditions:
  sync-agents-md: any of: ^AGENTS\.md$
  validate-tasks-frontmatter: any of: ^TASKS/.*\.md$, but not: ^TASKS/(_REORGANIZATION_PROPOSAL|INDEX|README|archive/)
  validate-docs-structure: any of: ^docs/.*\.md$, but not: ^docs/(DOCS_STRUCTURE_SPEC|_archive/)
  validate-claude-structure: any of: ^\.claude/rules/.*\.md$, but not: ^\.claude/rules/README\.md$
  markdownlint: any of: \.(md|markdown)$
  format-python: any of: \.py$
  lint-python: any of: \.py$
