Repository paunchygent/huleedu: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-agents-md, validate-tasks-frontmatter, validate-docs-structure, validate-claude-structure, markdownlint, format-python, lint-python

sync-agents-md:
  name: Sync AGENTS.md to AI assistant files
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && pdm run python scripts/utils/sync_agents_md.py'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-tasks-frontmatter:
  name: Validate TASKS frontmatter and structure
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && pdm run python -m scripts.task_mgmt.validate_front_matter'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-docs-structure:
  name: Validate documentation structure
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && pdm run python -m scripts.docs_mgmt.validate_docs_structure'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-claude-structure:
  name: Validate .claude/ structure and rule frontmatter
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && pdm run python -m scripts.claude_mgmt.validate_claude_structure'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

markdownlint:
  name: Lint markdown files
  entry: markdownlint --fix --config .markdownlint.json
  language: node
  additional_dependencies:
  - markdownlint-cli@0.45.0
  stages:
  - pre-commit

format-python:
  name: Format Python files with ruff
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && git ls-files "*.py" | xargs -r pdm run ruff format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

lint-python:
  name: Lint Python files with ruff
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && git ls-files "*.py" | xargs -r pdm run ruff check --fix --unsafe-fixes'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(ras): add count_user_batches for accurate pagination totals
  services/result_aggregator_service/api/query_routes.py
  services/result_aggregator_service/implementations/aggregator_service_impl.py
  services/result_aggregator_service/implementations/batch_repository_postgres_impl.py
  services/result_aggregator_service/implementations/batch_repository_queries.py
  services/result_aggregator_service/protocols.py
  services/result_aggregator_service/tests/unit/test_api_endpoints.py
Due: format-python, lint-python

test(eng5): update CJ docker tests with serial-bundle metrics assertions
  tests/functional/cj_eng5/test_cj_regular_batch_callbacks_docker.py
  tests/functional/cj_eng5/test_cj_regular_batch_resampling_docker.py
  tests/functional/cj_eng5/test_cj_small_net_continuation_docker.py
Due: format-python, lint-python

task(frontend): add Vue 3 Teacher Dashboard integration story
  TASKS/frontend/vue-3-teacher-dashboard-integration.md
Due: validate-tasks-frontmatter, markdownlint

ci(github): add Gemini AI integration workflows
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Due: none

docs: update session context with Phase-2 progress and cleanup handoff
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  .gitignore
  docs/operations/eng5-np-runbook.md
Due: validate-docs-structure, markdownlint

feat(frontend): Vue 3 Teacher Dashboard e2e integration
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/cj-llm-provider-batch-api-mode.md
  TASKS/frontend/vue-3-teacher-dashboard-integration.md
  TASKS/integrations/llm-provider-batch-api-phase-2.md
  docs/operations/cj-assessment-runbook.md
  docs/operations/eng5-np-runbook.md
  frontend/src/layouts/AppLayout.vue
  frontend/src/router/index.ts
  frontend/src/schemas/teacher-dashboard.ts
  frontend/src/services/teacher-dashboard.spec.ts
  frontend/src/services/teacher-dashboard.ts
  frontend/src/views/LoginView.vue
  frontend/src/views/TeacherDashboardView.vue
  frontend/styles/src/dashboard_brutalist_final.html
  frontend/tsconfig.tsbuildinfo
  frontend/vite.config.ts
  services/cj_assessment_service/cj_core_logic/comparison_batch_orchestrator.py
  services/cj_assessment_service/cj_core_logic/workflow_continuation.py
  services/cj_assessment_service/tests/unit/test_llm_batching_metadata.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation_orchestration.py
  services/llm_provider_service/tests/unit/test_batch_api_strategy.py
  services/llm_provider_service/tests/unit/test_queue_request_executor.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

docs(frontend): add Tailwind v4 quirks rule
  .claude/rules/frontend/05-tailwind-v4.md
Due: validate-claude-structure, markdownlint

fix(frontend): use proper Swedish diacritics (å, ä, ö)
  frontend/src/components/dashboard/ActionCard.vue
  frontend/src/components/dashboard/LedgerRow.vue
  frontend/src/components/dashboard/SectionHeader.vue
  frontend/src/views/TeacherDashboardView.vue
Due: none

fix(frontend): Swedish translations for UI labels
  frontend/src/components/layout/AppHeader.vue
  frontend/src/stores/navigation.ts
  frontend/src/views/DashboardView.vue
  frontend/src/views/TeacherDashboardView.vue
Due: none

fix(frontend): batch → bunt in comments
  frontend/src/components/dashboard/LedgerTable.vue
  frontend/src/components/layout/AppSidebar.vue
Due: none

fix(frontend): matcha → koppla for student matching
  frontend/docs/SWEDISH_TERMINOLOGY.md
  frontend/src/components/dashboard/ActionCard.vue
  frontend/src/mocks/dashboard-mocks.ts
Due: markdownlint

feat(cj): add ENG5 per-batch batching mode override plumbing
  .claude/agents/code-implementation-specialist.md
  .claude/agents/mechanical-refactor.md
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/integrations/eng5-provider-batch-api-harness-coverage.md
  TASKS/integrations/llm-provider-batch-api-phase-2.md
  colab_ml_training/demo_notebook_patterns.ipynb
  services/cj_assessment_service/cj_core_logic/request_transformer.py
  services/cj_assessment_service/tests/unit/test_comparison_request_normalizer.py
  services/cj_assessment_service/tests/unit/test_request_transformer.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

feat(frontend): add mobile hamburger navigation + semantic tokens
  TASKS/frontend/implement-semantic-token-architecture-per-adr-0023.md
  frontend/docs/product/epics/design-spec-teacher-dashboard.md
  frontend/src/components/layout/AppHeader.vue
  frontend/src/components/layout/MobileDrawer.vue
  frontend/src/layouts/AppLayout.vue
  frontend/src/stores/navigation.ts
  frontend/src/styles/main.css
  frontend/tsconfig.node.tsbuildinfo
  frontend/tsconfig.tsbuildinfo
  frontend/vite.config.js
Due: validate-tasks-frontmatter, markdownlint

feat(backend): ENG5 batch API test harness and CI updates
  .agent/rules/101-ci-lanes-and-heavy-suites.md
  .github/workflows/eng5-heavy-suites.yml
  TASKS/assessment/cj-llm-provider-batch-api-mode.md
  TASKS/integrations/eng5-provider-batch-api-harness-coverage.md
  TASKS/integrations/llm-provider-batch-api-phase-2.md
  colab_ml_training/demo_notebook_patterns.ipynb
  docs/operations/cj-assessment-runbook.md
  docs/operations/eng5-np-runbook.md
  scripts/llm_mgmt/eng5_cj_docker_suite.sh
  scripts/llm_mgmt/mock_profile_helper.sh
  tests/eng5_profiles/eng5_lps_metrics_assertions.py
  tests/eng5_profiles/test_cj_mock_batch_api_metrics_generic.py
  tests/functional/cj_eng5/test_cj_regular_batch_provider_batch_api_docker.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

feat(frontend): restore puppeteer-visual-testing skill with v24.x API
  .claude/skills/puppeteer-visual-testing/SKILL.md
  .claude/skills/puppeteer-visual-testing/patterns.md
  .claude/skills/puppeteer-visual-testing/reference.md
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  AGENTS.md
  CODEX.md
  GEMINI.md
  TASKS/programs/teacher_dashboard_integration/HUB.md
  TASKS/programs/teacher_dashboard_integration/bff-cms-validation-integration.md
  TASKS/programs/teacher_dashboard_integration/bff-extended-dashboard-fields.md
  TASKS/programs/teacher_dashboard_integration/cms-student-validation-endpoint.md
  TASKS/programs/teacher_dashboard_integration/entitlements-credits-endpoint.md
  TASKS/programs/teacher_dashboard_integration/frontend-live-data-integration.md
  TASKS/programs/teacher_dashboard_integration/ras-processing-phase-derivation.md
  TASKS/programs/teacher_dashboard_integration/websocket-batch-updates.md
Due: sync-agents-md, validate-tasks-frontmatter, markdownlint

fix(infra): docker compose v2 compatibility across scripts and configs
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  docker-compose.dev.yml
  docker-compose.smtp.yml
  pyproject.toml
  scripts/dev-workflow.sh
  scripts/dev.sh
  scripts/init_all_databases.py
  scripts/prod.sh
  scripts/validate_enum_drift.py
  scripts/validate_otel_trace_context.sh
  scripts/validate_service_config.py
  services/cj_assessment_service/tests/integration/test_anchor_unique_migration.py
  services/cj_assessment_service/tests/integration/test_error_code_migration.py
  services/cj_assessment_service/tests/integration/test_judge_rubric_migration.py
  services/cj_assessment_service/tests/integration/test_pair_generation_mode_migration.py
  services/cj_assessment_service/tests/integration/test_total_budget_migration.py
  services/content_service/config.py
  services/language_tool_service/pyproject.toml
  services/llm_provider_service/tests/unit/test_config_env_loading.py
  tests/eng5_profiles/test_cj_mock_batch_api_metrics_generic.py
  tests/functional/conftest.py
  tests/functional/test_bff_teacher_dashboard_functional.py
  tests/functional/test_e2e_idempotency.py
Due: markdownlint, format-python, lint-python

docs(tasks): update task status for batch API and dashboard integration
  TASKS/assessment/cj-llm-provider-batch-api-mode.md
  TASKS/infrastructure/fix-ci-docker-compose-v2-in-scripts.md
  TASKS/integrations/eng5-provider-batch-api-harness-coverage.md
  TASKS/integrations/llm-provider-batch-api-phase-2.md
  TASKS/programs/teacher_dashboard_integration/HUB.md
  TASKS/programs/teacher_dashboard_integration/bff-cms-validation-integration.md
  TASKS/programs/teacher_dashboard_integration/bff-extended-dashboard-fields.md
  TASKS/programs/teacher_dashboard_integration/cms-student-validation-endpoint.md
  TASKS/programs/teacher_dashboard_integration/entitlements-credits-endpoint.md
  TASKS/programs/teacher_dashboard_integration/frontend-live-data-integration.md
  TASKS/programs/teacher_dashboard_integration/ras-processing-phase-derivation.md
  TASKS/programs/teacher_dashboard_integration/websocket-batch-updates.md
Due: validate-tasks-frontmatter, markdownlint

feat(ras): add current_phase field to BatchStatusResponse
  .claude/work/session/handoff.md
  TASKS/programs/teacher_dashboard_integration/HUB.md
  TASKS/programs/teacher_dashboard_integration/ras-processing-phase-derivation.md
  services/result_aggregator_service/models_api.py
  services/result_aggregator_service/tests/unit/test_batch_status_response_current_phase.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

handoff constraints added
  .claude/work/session/handoff.md
Due: markdownlint

chore(colab): improve secret management and clean notebook outputs
  .gitignore
  colab_ml_training/demo_notebook_patterns.ipynb
Due: none

feat(frontend): add standalone HuleEdu design tokens CSS file
  frontend/styles/huleedu-design-tokens.css
Due: none

chore: commit all pending changes to rules, infrastructure, and research docs
  .agent/rules/000-rule-index.md
  .agent/rules/020.22-identity-service.md
  .claude/research/Feedback_från_handledare.md
  .claude/research/Forskningsplan_beskrivning.md
  .claude/research/Förändringar_som_svar_på_feedback.md
  docker-compose.prod.yml
  docker-compose.services.yml
  docs/how-to/EXTERNAL_OBSERVABILITY_INTEGRATION.md
  frontend/src/styles/main.css
  frontend/src/styles/tailwind-theme.css
  frontend/src/styles/tokens.css
Due: validate-docs-structure, markdownlint

docs(hemma): standardize Hemma repo path to ~/apps/huleedu
  docs/operations/hemma-alpha-rollout-days-1-3.md
  docs/operations/hemma-server-operations-huleedu.md
  scripts/codex_skills/huledu-devops-hemma/SKILL.md
Due: validate-docs-structure, markdownlint

chore(offload): keep rocm torch/triton from base image
  scripts/ml_training/essay_scoring/offload/Dockerfile
Due: none

Align TASKS lifecycle v2 and docs tooling
  TASKS/INDEX.md
  TASKS/_REORGANIZATION_PROPOSAL.md
  TASKS/archive/2026/02/architecture/tasks-readme.md
  TASKS/archive/2026/02/infrastructure/infrastructure-readme.md
  docs/DOCUMENTATION_INDEX.md
  docs/product/reviews/review-example-story-approval.md
  docs/reference/ref-infrastructure-tasks-how-we-track-platform-work.md
  docs/reference/ref-tasks-lifecycle-v2.md
  docs/reference/ref-tasks-overview.md
  frontend/TASKS/archive/2026/02/integration/bff-vue-3-frontend-integration-design.md
  scripts/schemas/task_schema.py
  scripts/task_mgmt/migrate_task_statuses_v2.py
Due: validate-docs-structure, markdownlint, format-python, lint-python

ci: install pyyaml for TASKS/docs validation
  .github/workflows/validate-tasks-docs.yml
Due: none

Lock: include dev + monorepo-tools groups
  pdm.lock
Due: none

Offload: exclude nvidia/cuda packages from ROCm image
  scripts/ml_training/essay_scoring/offload/Dockerfile
Due: none

ML research: add protobuf (transformers sentencepiece)
  pdm.lock
  pyproject.toml
Due: none

Offload: add Hemma deploy script and tighten CUDA/NVIDIA filtering
  scripts/ml_training/essay_scoring/offload/Dockerfile
  scripts/ml_training/essay_scoring/offload/hemma_offload_deploy.sh
Due: none

Offload: fix Hemma deploy script paths + data-disk cache mount
  scripts/ml_training/essay_scoring/offload/hemma_offload_deploy.sh
Due: none

docs: Hemma SSH command hygiene + HF_TOKEN
  .claude/work/session/handoff.md
  AGENTS.md
  CODEX.md
  GEMINI.md
  TASKS/assessment/offload-deberta--spacy-features-to-hemma-binary-embedding-service.md
  docker-compose.hemma.research.yml
  docs/operations/hemma-server-operations-huleedu.md
  env.example.hemma.prod
  scripts/codex_skills/huledu-devops-hemma/SKILL.md
  scripts/validate-production-config.sh
Due: sync-agents-md, validate-tasks-frontmatter, validate-docs-structure, markdownlint

docs: Hemma SSH examples + HF_TOKEN guidance
  AGENTS.md
  CODEX.md
  GEMINI.md
Due: sync-agents-md, markdownlint

chore: update KRaft docs and essay scoring scripts
  .claude/work/session/handoff.md
  AGENTS.md
  CODEX.md
  GEMINI.md
  TASKS/INDEX.md
  TASKS/infrastructure/migrate-kafka-infra-to-kraft-and-align-hemma-shared-infra.md
  docs/decisions/0028-kafka-infra-move-to-kraft-drop-zookeeper-and-align-hemma-shared-deployment.md
  docs/operations/hemma-alpha-rollout-days-1-3.md
  docs/operations/hemma-server-operations-huleedu.md
  scripts/ml_training/essay_scoring/reports/grade_scale_report.py
  scripts/ml_training/essay_scoring/runner.py
  scripts/ml_training/essay_scoring/training/qwk.py
  scripts/ml_training/tests/test_feature_math.py
Due: sync-agents-md, validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

Research: Hemma offload + essay-scoring pipeline updates
  TASKS/programs/eng5/eng5-runner-assumption-hardening.md
  docker-compose.hemma.research.yml
  docs/operations/hemma-alpha-rollout-days-1-3.md
  docs/operations/hemma-server-operations-huleedu.md
  scripts/cj_experiments_runners/eng5_np/ANCHOR_REGISTRATION_EXAMPLE.md
  scripts/cj_experiments_runners/eng5_np/ASSIGNMENT_SETUP.md
  scripts/cj_experiments_runners/eng5_np/assignment_preflight.py
  scripts/cj_experiments_runners/eng5_np/cli.py
  scripts/ml_training/essay_scoring/__init__.py
  scripts/ml_training/essay_scoring/config.py
  scripts/ml_training/essay_scoring/features/pipeline.py
  scripts/ml_training/essay_scoring/features/protocols.py
  scripts/ml_training/essay_scoring/features/tier1_error_readability.py
  scripts/ml_training/essay_scoring/features/tier2_syntactic_cohesion.py
  scripts/ml_training/essay_scoring/offload/embedding_client.py
  scripts/ml_training/essay_scoring/offload/settings.py
  scripts/ml_training/tests/test_pipeline_wiring.py
  scripts/ml_training/tests/test_remote_embedding_client_cache.py
  scripts/ml_training/tests/test_tier1_language_tool_cache.py
  scripts/ml_training/tests/test_tier2_offload_batching.py
  scripts/tests/test_eng5_np_assignment_preflight.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

Path conditions:
  sync-agents-md: any of: ^AGENTS\.md$
  validate-tasks-frontmatter: any of: ^TASKS/.*\.md$, but not: ^TASKS/(_REORGANIZATION_PROPOSAL|INDEX|README|archive/)
  validate-docs-structure: any of: ^docs/.*\.md$, but not: ^docs/(DOCS_STRUCTURE_SPEC|_archive/)
  validate-claude-structure: any of: ^\.claude/rules/.*\.md$, but not: ^\.claude/rules/README\.md$
  markdownlint: any of: \.(md|markdown)$
  format-python: any of: \.py$
  lint-python: any of: \.py$
