Repository paunchygent/huleedu: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-tasks-frontmatter, validate-docs-structure, validate-claude-structure, markdownlint, format-python, lint-python

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# See https://pre-commit.com for more information

repos:
-   repo: local
    hooks:
    -   id: sync-rules
        name: Sync Rules from .md to .md
        entry: python scripts/utils/sync_rules.py --source .claude/rules --target .windsurf/rules
        language: python
        always_run: true
        pass_filenames: false
        stages: [pre-commit]

    -   id: validate-tasks-frontmatter
        name: Validate TASKS frontmatter and structure
        entry: python scripts/task_mgmt/validate_front_matter.py
        language: python
        files: ^TASKS/.*\.md$
        exclude: ^TASKS/(_REORGANIZATION_PROPOSAL|INDEX|README|archive/)
        pass_filenames: false
        stages: [pre-commit]

    -   id: validate-docs-structure
        name: Validate documentation structure
        entry: python scripts/docs_mgmt/validate_docs_structure.py
        language: python
        files: ^docs/.*\.md$
        exclude: ^docs/(DOCS_STRUCTURE_SPEC|_archive/)
        pass_filenames: false
        stages: [pre-commit]

    -   id: validate-claude-structure
        name: Validate .claude/ structure and rule frontmatter
        entry: python scripts/claude_mgmt/validate_claude_structure.py
        language: python
        files: ^\.claude/rules/.*\.md$
        exclude: ^\.claude/rules/README\.md$
        pass_filenames: false
        stages: [pre-commit]

    -   id: markdownlint
        name: Lint markdown files
        entry: markdownlint --fix --config .markdownlint.json
        language: node
        files: \.(md|markdown)$
        additional_dependencies: ['markdownlint-cli@0.45.0']
        stages: [pre-commit]

    -   id: format-python
        name: Format Python files with ruff
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && git ls-files "*.py" | xargs -r pdm run ruff format'
        language: system
        files: \.py$
        pass_filenames: false
        stages: [pre-commit]

    -   id: lint-python
        name: Lint Python files with ruff
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && git ls-files "*.py" | xargs -r pdm run ruff check --fix --unsafe-fixes'
        language: system
        files: \.py$
        pass_filenames: false
        stages: [pre-commit]

feat(llm-provider): add GPT-5 family reasoning effort controls
  TASKS/infrastructure/llm-provider-openai-gpt-5x-reasoning-controls.md
  libs/common_core/src/common_core/api_models/llm_provider.py
  libs/common_core/src/common_core/events/cj_assessment_events.py
  services/cj_assessment_service/config.py
  services/cj_assessment_service/implementations/llm_provider_service_client.py
  services/cj_assessment_service/tests/unit/test_llm_provider_service_client.py
  services/llm_provider_service/implementations/anthropic_provider_impl.py
  services/llm_provider_service/implementations/circuit_breaker_llm_provider.py
  services/llm_provider_service/implementations/google_provider_impl.py
  services/llm_provider_service/implementations/llm_orchestrator_impl.py
  services/llm_provider_service/implementations/llm_override_utils.py
  services/llm_provider_service/implementations/mock_provider_impl.py
  services/llm_provider_service/implementations/openai_provider_impl.py
  services/llm_provider_service/implementations/openrouter_provider_impl.py
  services/llm_provider_service/manifest/openai.py
  services/llm_provider_service/protocols.py
  services/llm_provider_service/tests/integration/test_mock_provider_with_queue_processor.py
  services/llm_provider_service/tests/unit/test_openai_manifest_gpt5_family.py
  services/llm_provider_service/tests/unit/test_openai_provider_gpt5_family.py
  services/llm_provider_service/tests/unit/test_orchestrator_reasoning_overrides.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

feat(eng5): add prompt variants and GPT-5.1 reasoning experiment
  TASKS/programs/eng5-gpt-51-reasoning-effort-alignment-experiment.md
  TASKS/programs/eng5/eng5-runner-assumption-hardening.md
  docs/operations/eng5-np-runbook.md
  docs/product/epics/eng5-runner-refactor-and-prompt-tuning-epic.md
  scripts/cj_experiments_runners/eng5_np/cli.py
  scripts/cj_experiments_runners/eng5_np/handlers/anchor_align_handler.py
  scripts/cj_experiments_runners/eng5_np/prompts/rubric/004_hand_rolled.txt
  scripts/cj_experiments_runners/eng5_np/prompts/rubric/005_language_control_v2.txt
  scripts/cj_experiments_runners/eng5_np/prompts/rubric/006_usage_content_parity_rubric.txt
  scripts/cj_experiments_runners/eng5_np/prompts/system/004_hand_rolled.txt
  scripts/cj_experiments_runners/eng5_np/prompts/system/005_language_control_v2.txt
  scripts/cj_experiments_runners/eng5_np/prompts/system/006_usage_content_parity_system.txt
  scripts/cj_experiments_runners/eng5_np/settings.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/anchor_align_test_helpers.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_anchor_align_handler.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_anchor_align_handler_prompts.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_cli_integration.py
  scripts/tests/test_eng5_np_manifest_integration.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

chore: update session context with EPIC-007 planning and GPT-5 work
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
Due: markdownlint

feat(scripts): US-007.1 - extract shared frontmatter and validation utilities
  .claude/work/session/handoff.md
  TASKS/infrastructure/us-0071-shared-utilities-extraction.md
  scripts/utils/__init__.py
  scripts/utils/frontmatter_utils.py
  scripts/utils/validation_reporter.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

feat(scripts): add tests for US-007.1 utilities + fix batch_finalizer type
  scripts/utils/tests/__init__.py
  scripts/utils/tests/test_frontmatter_utils.py
  scripts/utils/tests/test_validation_reporter.py
  services/cj_assessment_service/cj_core_logic/batch_finalizer.py
Due: format-python, lint-python

Fix CJ AssessmentResult model attribution and align health checks
  services/cj_assessment_service/batch_monitor.py
  services/cj_assessment_service/cj_core_logic/dual_event_publisher.py
  services/cj_assessment_service/tests/integration/test_llm_provider_service_integration.py
  services/cj_assessment_service/tests/unit/test_dual_event_publishing.py
  services/cj_assessment_service/tests/unit/test_resource_consumption_publishing.py
Due: format-python, lint-python

feat(scripts): US-007.3 - add new_doc.py and new_rule.py creation scripts
  .claude/work/session/handoff.md
  .pre-commit-config.yaml
  TASKS/infrastructure/us-0073-creation-scripts.md
  pyproject.toml
  scripts/claude_mgmt/new_rule.py
  scripts/claude_mgmt/validate_claude_structure.py
  scripts/docs_mgmt/new_doc.py
  scripts/schemas/docs_schema.py
  scripts/task_mgmt/archive_task.py
  scripts/task_mgmt/migrate_to_spec.py
  scripts/task_mgmt/new_task.py
  scripts/task_mgmt/validate_front_matter.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

feat(scripts): US-007.2 - consolidate frontmatter schemas to scripts/schemas/
  TASKS/infrastructure/us-0072-schema-consolidation.md
  scripts/__init__.py
  scripts/schemas/__init__.py
  scripts/schemas/rule_schema.py
  scripts/schemas/task_schema.py
  scripts/schemas/tests/__init__.py
  scripts/schemas/tests/test_schemas.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

feat(eng5): LOWER5 tail-only experiment + CJ tuning
  TASKS/infrastructure/llm-provider-openai-gpt-5x-reasoning-controls.md
  TASKS/programs/eng5-gpt-51-reasoning-effort-alignment-experiment.md
  docker-compose.eng5-lower5.override.yml
  docs/operations/eng5-np-runbook.md
  scripts/cj_experiments_runners/eng5_np/inventory.py
  scripts/cj_experiments_runners/eng5_np/paths.py
  scripts/cj_experiments_runners/eng5_np/prompts/rubric/007_usage_guard.txt
  scripts/cj_experiments_runners/eng5_np/prompts/rubric/008_strong_usage_guard.txt
  scripts/cj_experiments_runners/eng5_np/prompts/system/004_hand_rolled.txt
  scripts/cj_experiments_runners/eng5_np/prompts/system/007_usage_guard.txt
  scripts/cj_experiments_runners/eng5_np/prompts/system/008_usage_guard_tuned.txt
  scripts/cj_experiments_runners/eng5_np/prompts/system/009_usage_decides_when_weak.txt
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_paths.py
  scripts/tests/test_eng5_np_runner.py
  services/cj_assessment_service/config.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

docs: update AGENTS.md, session context, and ENG5 epic
  .claude/work/session/readme-first.md
  AGENTS.md
  CLAUDE.md
  CODEX.md
  GEMINI.md
  docs/product/epics/eng5-runner-refactor-and-prompt-tuning-epic.md
Due: validate-docs-structure, markdownlint

chore: remove .DS_Store from git tracking
  .DS_Store
Due: none

chore: update session context and gitignore
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  .gitignore
Due: markdownlint

CJ completion semantics v2 & CJ-LPS reasoning metadata tasks
  .claude/rules/020-architectural-mandates.md
  .claude/work/session/handoff.md
  .windsurf/rules/020-architectural-mandates.md
  AGENTS.md
  CLAUDE.md
  CODEX.md
  GEMINI.md
  TASKS/architecture/cj-lps-reasoning-verbosity-metadata-contract.md
  TASKS/assessment/cj-completion-semantics-v2--budget-vs-coverage.md
  TASKS/assessment/cj-completion-semantics-v2--eng5--lower5.md
  TASKS/assessment/eng5-reasoning-controls--cj-plumbing.md
  TASKS/infrastructure/llm-provider-anthropic-thinking-controls.md
  docs/architecture/cj-assessment-service-map.md
  docs/decisions/0020-cj-assessment-completion-semantics-v2.md
  docs/operations/cj-assessment-runbook.md
  docs/product/epics/cj-stability-and-reliability-epic.md
Due: validate-tasks-frontmatter, validate-docs-structure, validate-claude-structure, markdownlint

feat(lps): Anthropic thinking controls + CJ reasoning plumbing
  services/cj_assessment_service/cj_core_logic/batch_retry_processor.py
  services/cj_assessment_service/cj_core_logic/comparison_batch_orchestrator.py
  services/cj_assessment_service/tests/integration/test_llm_payload_construction_integration.py
  services/cj_assessment_service/tests/unit/test_llm_provider_service_client.py
  services/llm_provider_service/implementations/anthropic_provider_impl.py
  services/llm_provider_service/tests/integration/test_anthropic_prompt_cache_blocks.py
  tests/integration/test_cj_lps_metadata_roundtrip.py
Due: format-python, lint-python

docs: update reasoning controls task docs and session context
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/architecture/cj-lps-reasoning-verbosity-metadata-contract.md
  TASKS/assessment/eng5-reasoning-controls--cj-plumbing.md
  TASKS/infrastructure/llm-provider-anthropic-thinking-controls.md
  TASKS/infrastructure/llm-provider-openai-gpt-5x-reasoning-controls.md
Due: validate-tasks-frontmatter, markdownlint

fix(lps): use absolute thinking budgets per Anthropic guidance
  services/llm_provider_service/implementations/anthropic_provider_impl.py
  services/llm_provider_service/tests/integration/test_anthropic_prompt_cache_blocks.py
Due: format-python, lint-python

docs: mark reasoning controls tasks as completed
  TASKS/architecture/cj-lps-reasoning-verbosity-metadata-contract.md
  TASKS/infrastructure/llm-provider-anthropic-thinking-controls.md
Due: validate-tasks-frontmatter, markdownlint

Add CJ completion semantics v2 task and update LOWER5 budget semantics
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/cj-completion-semantics-v2--eng5--lower5.md
  TASKS/assessment/cj-completion-semantics-v2-enforce-total-budget-and-remove-nc2-fallback.md
  TASKS/assessment/eng5-reasoning-controls--cj-plumbing.md
  TASKS/programs/eng5-gpt-51-reasoning-effort-alignment-experiment.md
  docker-compose.eng5-lower5.override.yml
  docs/decisions/0020-cj-assessment-completion-semantics-v2.md
  docs/product/epics/cj-stability-and-reliability-epic.md
  services/cj_assessment_service/models_db.py
  services/cj_assessment_service/tests/unit/test_batch_state_tracking.py
  services/cj_assessment_service/tests/unit/test_completion_threshold.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

feat(docker): add .env file loading to eng5-runner service
  docker-compose.services.yml
Due: none

feat(cj): refresh coverage metrics on each continuation check for small nets
  .claude/work/session/handoff.md
  services/cj_assessment_service/cj_core_logic/workflow_context.py
  services/cj_assessment_service/cj_core_logic/workflow_decision.py
  services/cj_assessment_service/implementations/comparison_repository.py
  services/cj_assessment_service/tests/unit/test_comparison_repository_coverage_metrics.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation_check.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation_metadata_bt_flags.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation_orchestration.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation_success_rate.py
  services/cj_assessment_service/tests/unit/test_workflow_small_net_coverage_refresh.py
  services/cj_assessment_service/tests/unit/test_workflow_small_net_resampling.py
  services/llm_provider_service/api/llm_routes.py
  services/llm_provider_service/tests/unit/test_comparison_routes.py
Due: markdownlint, format-python, lint-python

docs: update task progress for CJ completion semantics v2 and mock provider parity
  TASKS/assessment/cj-completion-semantics-v2--eng5--lower5.md
  TASKS/assessment/cj-completion-semantics-v2-enforce-total-budget-and-remove-nc2-fallback.md
  TASKS/infrastructure/llm-mock-provider-cj-behavioural-parity-tests.md
  TASKS/programs/eng5-gpt-51-reasoning-effort-alignment-experiment.md
Due: validate-tasks-frontmatter, markdownlint

Add ENG5 LLM mock parity traces and tests
  .claude/work/session/handoff.md
  TASKS/infrastructure/llm-mock-provider-cj-behavioural-parity-tests.md
  docs/research/rapport_till_kollegor/reflektion-efter-ht15-ai-piloterna.md
  scripts/llm_traces/__init__.py
  scripts/llm_traces/eng5_cj_trace_capture.py
  scripts/tests/test_eng5_cj_trace_capture.py
  services/llm_provider_service/config.py
  services/llm_provider_service/implementations/mock_provider_impl.py
  services/llm_provider_service/tests/unit/test_mock_provider.py
  tests/integration/test_cj_mock_parity_generic.py
  tests/integration/test_eng5_mock_parity_full_anchor.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

feat(llm-provider): add ENG5 LOWER5 mock profile parity tooling
  .claude/work/session/handoff.md
  TASKS/infrastructure/llm-mock-provider-cj-behavioural-parity-tests.md
  docker-compose.dev.yml
  docker-compose.services.yml
  pyproject.toml
  scripts/llm_mgmt/mock_profile_helper.sh
  services/llm_provider_service/config.py
  services/llm_provider_service/implementations/mock_provider_impl.py
  services/llm_provider_service/tests/unit/test_mock_provider.py
  tests/integration/test_cj_mock_parity_generic.py
  tests/integration/test_eng5_mock_parity_lower5.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

docs: add ML essay scoring pipeline plans
  TASKS/infrastructure/ml-model-serving-infrastructure-for-essay-scoring.md
  TASKS/infrastructure/ml-training-pipeline-for-essay-scoring-models.md
  docs/decisions/0021-ml-scoring-integration-in-nlp-service.md
  docs/product/epics/ml-essay-scoring-pipeline.md
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint

tests: harden CJ/ENG5 mock profile parity and coverage
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/infrastructure/llm-mock-provider-cj-behavioural-parity-tests.md
  scripts/llm_mgmt/mock_profile_helper.sh
  tests/integration/test_cj_mock_parity_generic.py
  tests/integration/test_eng5_mock_parity_full_anchor.py
  tests/integration/test_eng5_mock_parity_lower5.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

feat(llm-provider): add admin API with mock-mode endpoint
  services/llm_provider_service/api/admin_routes.py
  services/llm_provider_service/app.py
  services/llm_provider_service/tests/api/__init__.py
  services/llm_provider_service/tests/api/test_admin_mock_mode.py
Due: format-python, lint-python

tests: add ENG5 profile suite and improve mock parity tests
  scripts/llm_mgmt/mock_profile_helper.sh
  tests/integration/test_cj_mock_parity_generic.py
  tests/integration/test_eng5_mock_parity_full_anchor.py
  tests/integration/test_eng5_mock_parity_lower5.py
  tests/integration/test_eng5_profile_suite.py
Due: format-python, lint-python

docs: add ML essay scoring research and update epics
  docs/decisions/0021-ml-scoring-integration-in-nlp-service.md
  docs/product/epics/cj-stability-and-reliability-epic.md
  docs/product/epics/ml-essay-scoring-pipeline.md
  docs/research/epic-010-ml-essay-scoring-source-traceability.md
Due: validate-docs-structure, markdownlint

tasks: update CJ assessment and mock provider task progress
  TASKS/assessment/cj-resampling-a-b-positional-fairness.md
  TASKS/assessment/cj-resampling-mode-generalization-for-all-batch-sizes.md
  TASKS/assessment/pr-7-phase-2-resampling-and-convergence-harness.md
  TASKS/assessment/us-0051-callback-driven-continuation-and-safe-completion-gating.md
  TASKS/infrastructure/llm-mock-provider-cj-behavioural-parity-tests.md
Due: validate-tasks-frontmatter, markdownlint

chore: update session handoff context
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
Due: markdownlint

tests: add CJ small-net continuation docker test
  tests/integration/test_cj_small_net_continuation_docker.py
Due: format-python, lint-python

fix(ci): resolve TASKS validation import errors in GitHub Actions
  .github/workflows/validate-tasks-docs.yml
  scripts/task_mgmt/validate_front_matter.py
Due: format-python, lint-python

feat(cj): align small-net threshold to inclusive <= comparison
  services/cj_assessment_service/cj_core_logic/workflow_context.py
  services/cj_assessment_service/config.py
Due: format-python, lint-python

tests: expand CJ small-net continuation docker test coverage
  tests/integration/test_cj_small_net_continuation_docker.py
Due: format-python, lint-python

tasks: update CJ resampling and completion task progress
  TASKS/assessment/cj-resampling-a-b-positional-fairness.md
  TASKS/assessment/cj-resampling-mode-generalization-for-all-batch-sizes.md
  TASKS/assessment/pr-7-phase-2-resampling-and-convergence-harness.md
  TASKS/assessment/us-0051-callback-driven-continuation-and-safe-completion-gating.md
Due: validate-tasks-frontmatter, markdownlint

docs: minor update to CJ stability epic
  docs/product/epics/cj-stability-and-reliability-epic.md
Due: validate-docs-structure, markdownlint

chore: update session handoff context
  .claude/work/session/handoff.md
Due: markdownlint

chore: remove obsolete task_frontmatter_schema.py reference
  AGENTS.md
  CLAUDE.md
  CODEX.md
  GEMINI.md
Due: markdownlint

feat(cj): add PairOrientationStrategy layer for A/B positional fairness
  services/cj_assessment_service/cj_core_logic/pair_orientation.py
  services/cj_assessment_service/config.py
  services/cj_assessment_service/di.py
  services/cj_assessment_service/protocols.py
  services/cj_assessment_service/tests/unit/test_pair_orientation_strategy.py
Due: format-python, lint-python

feat(cj): integrate orientation strategy into pair generation
  services/cj_assessment_service/cj_core_logic/comparison_batch_orchestrator.py
  services/cj_assessment_service/cj_core_logic/comparison_processing.py
  services/cj_assessment_service/cj_core_logic/pair_generation.py
  services/cj_assessment_service/tests/unit/test_comparison_processing.py
  services/cj_assessment_service/tests/unit/test_pair_generation_context.py
  services/cj_assessment_service/tests/unit/test_pair_generation_randomization.py
Due: format-python, lint-python
