Repository paunchygent/huleedu: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-tasks-frontmatter, validate-docs-structure, validate-claude-structure, markdownlint, format-python, lint-python

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# See https://pre-commit.com for more information

repos:
-   repo: local
    hooks:
    -   id: sync-rules
        name: Sync Rules from .md to .md
        entry: python scripts/utils/sync_rules.py --source .claude/rules --target .windsurf/rules
        language: python
        always_run: true
        pass_filenames: false
        stages: [pre-commit]

    -   id: validate-tasks-frontmatter
        name: Validate TASKS frontmatter and structure
        entry: python scripts/task_mgmt/validate_front_matter.py
        language: python
        files: ^TASKS/.*\.md$
        exclude: ^TASKS/(_REORGANIZATION_PROPOSAL|INDEX|README|archive/)
        pass_filenames: false
        stages: [pre-commit]

    -   id: validate-docs-structure
        name: Validate documentation structure
        entry: python scripts/docs_mgmt/validate_docs_structure.py
        language: python
        files: ^docs/.*\.md$
        exclude: ^docs/(DOCS_STRUCTURE_SPEC|_archive/)
        pass_filenames: false
        stages: [pre-commit]

    -   id: validate-claude-structure
        name: Validate .claude/ structure and rule frontmatter
        entry: python scripts/claude_mgmt/validate_claude_structure.py
        language: python
        files: ^\.claude/rules/.*\.md$
        exclude: ^\.claude/rules/README\.md$
        pass_filenames: false
        stages: [pre-commit]

    -   id: markdownlint
        name: Lint markdown files
        entry: markdownlint --fix --config .markdownlint.json
        language: node
        files: \.(md|markdown)$
        additional_dependencies: ['markdownlint-cli@0.45.0']
        stages: [pre-commit]

    -   id: format-python
        name: Format Python files with ruff
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && git ls-files "*.py" | xargs -r pdm run ruff format'
        language: system
        files: \.py$
        pass_filenames: false
        stages: [pre-commit]

    -   id: lint-python
        name: Lint Python files with ruff
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && git ls-files "*.py" | xargs -r pdm run ruff check --fix --unsafe-fixes'
        language: system
        files: \.py$
        pass_filenames: false
        stages: [pre-commit]

fix(cj-assessment): improve batch state tracking and test assertions
  services/cj_assessment_service/cj_core_logic/workflow_continuation.py
  services/cj_assessment_service/tests/integration/test_real_database_integration.py
Due: format-python, lint-python

docs(claude): consolidate task and documentation location reference
  CLAUDE.md
Due: markdownlint

refactor(docs): restructure session workspace and consolidate CLAUDE.md
  .claude/CLAUDE_STRUCTURE_SPEC.md
  .claude/agents/research-diagnostic.md
  .claude/hooks/enforce-claude-structure.sh
  .claude/work/reports/docs-tasks-structure-audit-2025-11-17.md
  CLAUDE.md
Due: markdownlint

refactor(agents): streamline docs-structure-enforcer definition
  .claude/agents/docs-structure-enforcer.md
Due: markdownlint

docs(tasks): approve LPS rate limiting implementation plan
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/infrastructure/lps-rate-limiting-implementation.md
Due: validate-tasks-frontmatter, markdownlint

docs(project): update project documentation and operational runbooks
  AGENTS.md
  CLAUDE.md
  CODEX.md
  docs/operations/cj-assessment-foundation.md
Due: validate-docs-structure, markdownlint

feat(cj-assessment): add prompt template builder and fix completion workflow
  TASKS/assessment/cj-prompt-cache-template-builder.md
  observability/grafana/dashboards/README.md
  observability/prometheus/rules/service_alerts.yml
  services/cj_assessment_service/cj_core_logic/prompt_templates.py
  services/cj_assessment_service/cj_core_logic/workflow_continuation.py
  services/cj_assessment_service/models_prompt.py
  services/cj_assessment_service/tests/integration/test_real_database_integration.py
  services/cj_assessment_service/tests/unit/test_prompt_templates.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation.py
  services/llm_provider_service/implementations/anthropic_provider_impl.py
  services/llm_provider_service/metrics.py
  services/llm_provider_service/tests/integration/test_anthropic_error_diagnostics.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

feat(llm-provider): add prompt caching support and enhanced error handling
  observability/grafana/dashboards/HuleEdu_LLM_Prompt_Cache.json
Due: none

feat(task-mgmt): add task filtering script with PDM shortcuts
  .claude/work/session/handoff.md
  TASKS/assessment/cj-prompt-cache-template-builder.md
  docs/how-to/filtering-tasks.md
  pyproject.toml
  scripts/task_mgmt/filter_tasks.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

feat(infrastructure): migrate pyproject.toml to PEP 735 dependency groups
  TASKS/infrastructure/pdm-pyproject-toml-migration-to-pep-735.md
  pyproject.toml
Due: validate-tasks-frontmatter, markdownlint

feat(hooks): add pre-commit hook to sync AGENTS.md to AI assistant files
  .pre-commit-config.yaml
  GEMINI.md
  scripts/utils/sync_agents_md.py
Due: markdownlint, format-python, lint-python

feat(task-mgmt): add PDM scripts and enforce task creation standards
  AGENTS.md
  CLAUDE.md
  CODEX.md
  GEMINI.md
  pyproject.toml
Due: markdownlint

refactor(lint): consolidate Ruff per-file-ignores with wildcards and documentation
  pyproject.toml
Due: none

docs(handoff): add infrastructure improvements summary
  .claude/work/session/handoff.md
Due: markdownlint

chore: apply pre-commit auto-fixes for MyPy configuration changes
  .claude/rules/086-mypy-configuration-standards.md
  .claude/rules/110-ai-agent-interaction-modes.md
  .claude/work/reports/2025-11-22-mypy-configuration-investigation.md
  .claude/work/session/readme-first.md
  .windsurf/rules/086-mypy-configuration-standards.md
  .windsurf/rules/110-ai-agent-interaction-modes.md
  TASKS/infrastructure/MYPY_CONFIGURATION_INVESTIGATION_AND_CONSOLIDATION.md
  libs/mypy.ini
  pyproject.toml
  services/cj_assessment_service/README.md
  services/cj_assessment_service/cj_core_logic/prompt_templates.py
  services/cj_assessment_service/config.py
  services/cj_assessment_service/models_api.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation.py
Due: validate-tasks-frontmatter, validate-claude-structure, markdownlint, format-python, lint-python

feat: add prompt block handling for Anthropic and cache sandbox tools
  .claude/work/session/handoff.md
  TASKS/assessment/cj-prompt-cache-template-builder.md
  TASKS/infrastructure/mypy-configuration-investigation-and-consolidation.md
  libs/common_core/src/common_core/api_models/llm_provider.py
  services/cj_assessment_service/cj_core_logic/pair_generation.py
  services/cj_assessment_service/implementations/llm_interaction_impl.py
  services/cj_assessment_service/implementations/llm_provider_service_client.py
  services/cj_assessment_service/protocols.py
  services/cj_assessment_service/tests/integration/test_llm_payload_construction_integration.py
  services/cj_assessment_service/tests/unit/test_llm_interaction_impl_unit.py
  services/cj_assessment_service/tests/unit/test_llm_provider_service_client.py
  services/cj_assessment_service/tests/unit/test_pair_generation_context.py
  services/llm_provider_service/admin_cli.py
  services/llm_provider_service/api/llm_routes.py
  services/llm_provider_service/fixtures/cache_sandbox.py
  services/llm_provider_service/implementations/anthropic_provider_impl.py
  services/llm_provider_service/implementations/circuit_breaker_llm_provider.py
  services/llm_provider_service/implementations/comparison_processor_impl.py
  services/llm_provider_service/implementations/google_provider_impl.py
  services/llm_provider_service/implementations/llm_orchestrator_impl.py
  services/llm_provider_service/implementations/mock_provider_impl.py
  services/llm_provider_service/implementations/openai_provider_impl.py
  services/llm_provider_service/implementations/openrouter_provider_impl.py
  services/llm_provider_service/implementations/queue_processor_impl.py
  services/llm_provider_service/internal_models.py
  services/llm_provider_service/prompt_utils.py
  services/llm_provider_service/protocols.py
  services/llm_provider_service/tests/integration/test_mock_provider_with_queue_processor.py
  services/llm_provider_service/tests/unit/test_anthropic_prompt_blocks.py
  services/llm_provider_service/tests/unit/test_api_routes_simple.py
  services/llm_provider_service/tests/unit/test_comparison_processor.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

feat(cj-assessment): complete prompt cache integration testing and callback metadata propagation
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/cj-prompt-cache-template-builder.md
  services/llm_provider_service/README.md
  services/llm_provider_service/config.py
  services/llm_provider_service/implementations/anthropic_provider_impl.py
  services/llm_provider_service/implementations/queue_processor_impl.py
  services/llm_provider_service/tests/integration/test_anthropic_prompt_cache_blocks.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

docs(cj-assessment): document prompt cache warm-up acceptance criteria
  .claude/work/session/handoff.md
  TASKS/assessment/cj-prompt-cache-template-builder.md
  docs/operations/cj-assessment-foundation.md
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint

Prompt cache observability + CJ prompt block guard
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/cj-prompt-cache-template-builder.md
  docs/operations/cj-assessment-foundation.md
  observability/grafana/dashboards/HuleEdu_LLM_Prompt_Cache.json
  observability/prometheus/rules/service_alerts.yml
  services/cj_assessment_service/implementations/llm_interaction_impl.py
  services/cj_assessment_service/tests/unit/test_llm_interaction_impl_unit.py
  services/llm_provider_service/implementations/anthropic_provider_impl.py
  services/llm_provider_service/implementations/queue_processor_impl.py
  services/llm_provider_service/metrics.py
  services/llm_provider_service/tests/integration/test_anthropic_prompt_cache_blocks.py
  services/llm_provider_service/tests/unit/test_queue_processor_error_handling.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

chore: apply markdownlint auto-fixes from pre-commit hook
  .claude/CLAUDE_STRUCTURE_SPEC.md
  .claude/hooks/enforce-claude-structure.sh
  .claude/work/reports/2025-11-22-documentation-structure-audit.md
  .claude/work/reports/2025-11-22-rule-analysis-batch-1.md
  .claude/work/reports/2025-11-22-rule-analysis-batch-2.md
  .claude/work/reports/2025-11-22-rule-analysis-batch-3.md
  .claude/work/reports/2025-11-22-rule-analysis-batch-4-FINAL.md
  .claude/work/reports/benchmarks/20251122T232348Z-prompt-cache-warmup.json
  .claude/work/reports/benchmarks/20251122T232348Z-prompt-cache-warmup.md
  .claude/work/reports/benchmarks/README.md
  .claude/work/reports/benchmarks/template-prompt-cache-warmup.json
  .claude/work/reports/benchmarks/template-prompt-cache-warmup.md
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/cj-prompt-cache-benchmark.md
  TASKS/assessment/cj-prompt-cache-template-builder.md
  docs/_archive/SERVICE_FUTURE_ENHANCEMENTS/class_management_service_runbook.md
  pyproject.toml
  scripts/claude_mgmt/rule_frontmatter_schema.py
  scripts/claude_mgmt/validate_claude_structure.py
  scripts/prompt_cache_benchmark/__init__.py
  scripts/prompt_cache_benchmark/build_eng5_fixture.py
  scripts/prompt_cache_benchmark/cli.py
  scripts/prompt_cache_benchmark/fixtures.py
  scripts/prompt_cache_benchmark/limiter.py
  scripts/prompt_cache_benchmark/loader.py
  scripts/prompt_cache_benchmark/runner.py
  scripts/run-prompt-cache-full.sh
  scripts/run-prompt-cache-smoke.sh
  scripts/tests/test_prompt_cache_benchmark.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

Housekeeping: queue processor fix, task frontmatter schema, docs sync
  .claude/hooks/enforce-claude-structure.sh
  .claude/work/reports/benchmarks/20251123T001927Z-prompt-cache-warmup.json
  .claude/work/reports/benchmarks/20251123T001927Z-prompt-cache-warmup.md
  .claude/work/reports/benchmarks/20251123T004138Z-prompt-cache-warmup.json
  .claude/work/reports/benchmarks/20251123T004138Z-prompt-cache-warmup.md
  .claude/work/reports/benchmarks/20251123T005924Z-prompt-cache-warmup-normalized.json
  .claude/work/reports/benchmarks/20251123T005924Z-prompt-cache-warmup.json
  .claude/work/reports/benchmarks/20251123T005924Z-prompt-cache-warmup.md
  .claude/work/reports/benchmarks/20251123T011800Z-prompt-cache-warmup.json
  .claude/work/reports/benchmarks/20251123T011800Z-prompt-cache-warmup.md
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  .claude/work/session/rule-git-dates.txt
  CLAUDE.md
  TASKS/assessment/cj-prompt-cache-benchmark.md
  TASKS/assessment/cj-prompt-cache-template-builder.md
  pdm.lock
  pyproject.toml
  scripts/claude_mgmt/extract_git_dates.sh
  scripts/claude_mgmt/extract_hierarchy.sh
  scripts/claude_mgmt/validate_claude_structure.py
  scripts/prompt_cache_benchmark/cli.py
  scripts/prompt_cache_benchmark/runner.py
  scripts/task_mgmt/archive_task.py
  scripts/task_mgmt/migrate_to_spec.py
  scripts/task_mgmt/new_task.py
  scripts/task_mgmt/task_frontmatter_schema.py
  scripts/task_mgmt/validate_front_matter.py
  services/llm_provider_service/implementations/anthropic_provider_impl.py
  services/llm_provider_service/implementations/queue_processor_impl.py
  services/llm_provider_service/response_validator.py
  services/llm_provider_service/tests/unit/test_anthropic_prompt_blocks.py
  services/llm_provider_service/tests/unit/test_callback_publishing.py
  services/llm_provider_service/tests/unit/test_response_validator.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

Docs: record benchmark pause and Haiku/Sonnet cache stance
  docs/operations/cj-assessment-foundation.md
Due: validate-docs-structure, markdownlint

Housekeeping: remove stale Prompt Amendment note from handoff
  .claude/work/session/handoff.md
Due: markdownlint

Housekeeping: align handoff active work to current state
  .claude/work/session/handoff.md
Due: markdownlint

docs: migrate benchmark data and clean up session documentation
  .claude/work/reports/guest-batch-stuck-investigation-report.md
  .claude/work/reports/logging-format-investigation-report.md
  .claude/work/reports/logging-investigation-summary.md
  .claude/work/reports/otel-trace-context-validation-report.md
  .claude/work/session/VALIDATION_SCRIPT_EXPECTED_OUTPUT.md
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  docs/research/benchmarks/prompt-cache/README.md
  docs/research/benchmarks/prompt-cache/runs/.gitkeep
  docs/research/benchmarks/prompt-cache/runs/20251122T232348Z-prompt-cache-warmup.json
  docs/research/benchmarks/prompt-cache/runs/20251122T232348Z-prompt-cache-warmup.md
  docs/research/benchmarks/prompt-cache/runs/20251123T001927Z-prompt-cache-warmup.json
  docs/research/benchmarks/prompt-cache/runs/20251123T001927Z-prompt-cache-warmup.md
  docs/research/benchmarks/prompt-cache/runs/20251123T004138Z-prompt-cache-warmup.json
  docs/research/benchmarks/prompt-cache/runs/20251123T004138Z-prompt-cache-warmup.md
  docs/research/benchmarks/prompt-cache/runs/20251123T005924Z-prompt-cache-warmup-normalized.json
  docs/research/benchmarks/prompt-cache/runs/20251123T005924Z-prompt-cache-warmup.json
  docs/research/benchmarks/prompt-cache/runs/20251123T005924Z-prompt-cache-warmup.md
  docs/research/benchmarks/prompt-cache/runs/20251123T011800Z-prompt-cache-warmup.json
  docs/research/benchmarks/prompt-cache/runs/20251123T011800Z-prompt-cache-warmup.md
  docs/research/benchmarks/prompt-cache/templates/.gitkeep
  docs/research/benchmarks/prompt-cache/templates/template-prompt-cache-warmup.json
  docs/research/benchmarks/prompt-cache/templates/template-prompt-cache-warmup.md
  scripts/docs_mgmt/validate_docs_structure.py
Due: validate-docs-structure, markdownlint, format-python, lint-python

fix: ensure single-session transaction boundaries in ELS handlers
  TASKS/assessment/cj-prompt-cache-benchmark.md
  TASKS/assessment/cj-prompt-cache-template-builder.md
  TASKS/infrastructure/fix-els-transaction-boundary-violations.md
  TASKS/infrastructure/lps-rate-limiting-implementation.md
  services/essay_lifecycle_service/implementations/cj_assessment_command_handler.py
  services/essay_lifecycle_service/implementations/nlp_command_handler.py
  services/essay_lifecycle_service/implementations/spellcheck_command_handler.py
  services/essay_lifecycle_service/tests/unit/test_batch_coordination_handler_impl.py
  services/essay_lifecycle_service/tests/unit/test_cj_assessment_command_handler.py
  services/essay_lifecycle_service/tests/unit/test_content_assignment_service.py
  services/essay_lifecycle_service/tests/unit/test_spellcheck_command_handler.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

docs: remove OCR-scanned textbook content from research directory
  docs/research/larobok-ocr.md
  docs/research/laxforhor-pa-renassansen.md
  services/cj_assessment_service/tests/DUAL_EVENT_VALIDATION_REPORT.md
  services/cj_assessment_service/tests/INTEGRATION_TEST_PLAN.md
  services/cj_assessment_service/tests/TEST_PLAN_DUAL_EVENTS.md
Due: validate-docs-structure, markdownlint

Refactor LLM queue processor into modular components (#20)
  services/llm_provider_service/implementations/callback_event_publisher.py
  services/llm_provider_service/implementations/execution_result_handler.py
  services/llm_provider_service/implementations/llm_override_utils.py
  services/llm_provider_service/implementations/queue_processing_loop.py
  services/llm_provider_service/implementations/queue_processor_impl.py
  services/llm_provider_service/implementations/queue_processor_metrics.py
  services/llm_provider_service/implementations/queue_request_executor.py
  services/llm_provider_service/implementations/queue_tracing_enricher.py
  services/llm_provider_service/implementations/queue_ttl_utils.py
  services/llm_provider_service/implementations/request_strategies.py
  services/llm_provider_service/model_checker/openrouter_checker.py
  services/llm_provider_service/tests/integration/test_serial_bundle_integration.py
  services/llm_provider_service/tests/unit/test_comparison_processor.py
  services/llm_provider_service/tests/unit/test_openrouter_checker.py
  services/llm_provider_service/tests/unit/test_queue_processor_error_handling.py
  services/llm_provider_service/tests/unit/test_queue_request_executor.py
Due: format-python, lint-python

docs: update CJ and LLM Provider Service documentation to reflect queue-only architecture
  .claude/rules/020.13-llm-provider-service-architecture.md
  .claude/rules/020.7-cj-assessment-service.md
  .claude/work/session/handoff.md
  .windsurf/rules/020.13-llm-provider-service-architecture.md
  .windsurf/rules/020.7-cj-assessment-service.md
  TASKS/assessment/cj-db-per-aggregate-repository-refactor.md
  TASKS/assessment/remove-cjrepositoryprotocol-shim-and-deprecated-mocks.md
  services/llm_provider_service/README.md
Due: validate-tasks-frontmatter, validate-claude-structure, markdownlint

docs: update service port documentation to reflect HTTP_PORT standardization
  .claude/rules/020.7-cj-assessment-service.md
  .claude/work/reports/2025-11-26-port-documentation-audit.md
  .windsurf/rules/020.7-cj-assessment-service.md
  docker-compose.services.yml
  docs/how-to/debugging-with-observability.md
  services/api_gateway_service/README.md
  services/api_gateway_service/config.py
  services/cj_assessment_service/README.md
  services/cj_assessment_service/app.py
  services/cj_assessment_service/config.py
  services/content_service/README.md
  services/content_service/config.py
  services/entitlements_service/app.py
  services/entitlements_service/config.py
  services/entitlements_service/tests/unit/test_app.py
  services/entitlements_service/tests/unit/test_config.py
  services/file_service/README.md
  services/file_service/config.py
Due: validate-docs-structure, validate-claude-structure, markdownlint, format-python, lint-python

docs: archive port standardization review and update session handoff
  .claude/archive/code-reviews/docker-port-configuration-standardization-plan_2025_11_26.md
  .claude/work/session/handoff.md
  docker-compose.infrastructure.yml
  docker-compose.services.yml
  observability/prometheus/prometheus.yml
  services/cj_assessment_service/tests/unit/test_batch_monitor_unit.py
  services/cj_assessment_service/tests/unit/test_batch_retry_processor.py
  services/email_service/Dockerfile
  services/email_service/app.py
  services/email_service/config.py
  services/identity_service/Dockerfile
  services/identity_service/config.py
Due: markdownlint, format-python, lint-python

chore: unify metrics on HTTP ports and remove RAS dedicated port
  .claude/work/session/handoff.md
  README.md
  docker-compose.services.yml
  observability/prometheus/prometheus.yml
  services/email_service/config.py
  services/essay_lifecycle_service/config.py
  services/file_service/config.py
  services/nlp_service/config.py
  services/result_aggregator_service/IMPLEMENTATION_STATUS.md
  services/result_aggregator_service/README.md
  services/result_aggregator_service/app.py
  services/result_aggregator_service/config.py
  services/result_aggregator_service/startup_setup.py
Due: markdownlint, format-python, lint-python

docs: add mock provider configuration section to LLM Provider Service rule
  .claude/rules/020.13-llm-provider-service-architecture.md
  .claude/work/session/handoff.md
  .windsurf/rules/020.13-llm-provider-service-architecture.md
  services/llm_provider_service/README.md
  services/llm_provider_service/api/health_routes.py
  services/llm_provider_service/config.py
  services/llm_provider_service/di.py
  tests/integration/test_cj_lps_metadata_roundtrip.py
Due: validate-claude-structure, markdownlint, format-python, lint-python

feat: Add infrastructure task for text_storage_id persistence and mock LLM for CJ
  .claude/work/session/handoff.md
  TASKS/infrastructure/persist-text_storage_id-on-file-uploads-and-enable-mock-llm-for-functional-cj.md
  tests/functional/test_e2e_client_pipeline_resolution_workflow.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

docs: add filename propagation investigation and LLM provider config hierarchy
  .claude/rules/020.13-llm-provider-service-architecture.md
  .claude/work/reports/2025-11-27-filename-propagation-flow-mapping.md
  .claude/work/session/handoff.md
  .windsurf/rules/020.13-llm-provider-service-architecture.md
  TASKS/infrastructure/persist-text_storage_id-on-file-uploads-and-enable-mock-llm-for-functional-cj.md
  docker-compose.dev.yml
  docker-compose.infrastructure.yml
  docker-compose.services.yml
  docs/operations/cj-assessment-foundation.md
  docs/operations/llm-provider-configuration-hierarchy.md
Due: validate-tasks-frontmatter, validate-docs-structure, validate-claude-structure, markdownlint

feat: add filename propagation task and text_storage_id persistence infrastructure
  TASKS/assessment/filename-propagation-from-els-to-ras-for-teacher-result-visibility.md
  TASKS/infrastructure/persist-text-storage-id-on-file-uploads-and-enable-mock-llm-for-functional-cj.md
  tests/README.md
Due: validate-tasks-frontmatter, markdownlint
