Repository paunchygent/huleedu: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-tasks-frontmatter, validate-docs-structure, validate-claude-structure, markdownlint, format-python, lint-python

validate-tasks-frontmatter:
  name: Validate TASKS frontmatter and structure
  entry: python scripts/task_mgmt/validate_front_matter.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

validate-docs-structure:
  name: Validate documentation structure
  entry: python scripts/docs_mgmt/validate_docs_structure.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

validate-claude-structure:
  name: Validate .claude/ structure and rule frontmatter
  entry: python scripts/claude_mgmt/validate_claude_structure.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

markdownlint:
  name: Lint markdown files
  entry: markdownlint --fix --config .markdownlint.json
  language: node
  additional_dependencies:
  - markdownlint-cli@0.45.0
  stages:
  - pre-commit

format-python:
  name: Format Python files with ruff
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && git ls-files "*.py" | xargs -r pdm run ruff format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

lint-python:
  name: Lint Python files with ruff
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && git ls-files "*.py" | xargs -r pdm run ruff check --fix --unsafe-fixes'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: add original_file_name to EssaySlotAssignedV1 and assignment_id traceability infrastructure
  libs/common_core/src/common_core/events/essay_lifecycle_events.py
  services/api_gateway_service/routers/file_routes.py
  services/api_gateway_service/tests/test_file_routes.py
  services/essay_lifecycle_service/domain_services/content_assignment_service.py
  services/essay_lifecycle_service/tests/distributed/test_utils.py
  services/essay_lifecycle_service/tests/integration/test_atomic_batch_creation_integration.py
  services/essay_lifecycle_service/tests/test_redis_notifications.py
  services/essay_lifecycle_service/tests/unit/test_content_assignment_service.py
  services/file_service/README.md
  services/file_service/alembic/versions/20251127_1200_add_assignment_id_and_text_storage_indexes.py
  services/file_service/api/file_routes.py
  services/file_service/core_logic.py
  services/file_service/implementations/file_repository_impl.py
  services/file_service/models_db.py
  services/file_service/protocols.py
  services/file_service/tests/integration/test_assignment_id_migration.py
  services/file_service/tests/unit/test_core_logic_raw_storage.py
  services/file_service/tests/unit/test_file_routes_validation.py
  services/result_aggregator_service/implementations/assessment_event_handler.py
  services/result_aggregator_service/implementations/batch_repository_postgres_impl.py
  services/result_aggregator_service/implementations/essay_result_updater.py
  services/result_aggregator_service/protocols.py
  services/result_aggregator_service/tests/integration/test_kafka_consumer_resilience.py
  services/result_aggregator_service/tests/unit/test_nullable_batch_id_handling.py
Due: markdownlint, format-python, lint-python

feat: switch functional tests to ENG5 runner student essays and enforce mock LLM mode
  tests/functional/comprehensive_pipeline_utils.py
  tests/functional/conftest.py
  tests/functional/pipeline_harness_helpers/batch_setup.py
  tests/functional/test_e2e_cj_assessment_workflows.py
  tests/functional/test_e2e_comprehensive_real_batch_guest_flow.py
  tests/functional/test_e2e_file_event_kafka_flow.py
  tests/functional/test_e2e_identity_threading.py
  tests/integration/test_file_traceability_e2e.py
  tests/utils/auth_manager.py
  tests/utils/eng5_runner_samples.py
  tests/utils/service_test_manager.py
Due: format-python, lint-python

docs: update session handoff for assignment_id propagation gap and filename fix completion
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/filename-propagation-from-els-to-ras-for-teacher-result-visibility.md
  TASKS/assessment/propagate-assignment-id-from-bos-to-cj-request-phase-a.md
  TASKS/assessment/propagate-assignment-id-from-cj-to-ras-storage-phase-b.md
Due: validate-tasks-frontmatter, markdownlint

docs: mark assignment_id Phase A complete and update session handoff
  .claude/work/session/handoff.md
  TASKS/assessment/propagate-assignment-id-from-bos-to-cj-request-phase-a.md
  libs/common_core/docs/api-contracts.md
  libs/common_core/src/common_core/api_models/batch_registration.py
  libs/common_core/src/common_core/batch_service_models.py
  services/batch_orchestrator_service/implementations/cj_assessment_initiator_impl.py
  services/batch_orchestrator_service/implementations/client_pipeline_request_handler.py
  services/batch_orchestrator_service/tests/test_cj_assessment_initiator_impl.py
  services/essay_lifecycle_service/implementations/cj_assessment_command_handler.py
  services/essay_lifecycle_service/implementations/service_request_dispatcher.py
  services/essay_lifecycle_service/protocols.py
  services/essay_lifecycle_service/tests/unit/test_cj_assessment_command_handler.py
  services/essay_lifecycle_service/tests/unit/test_kafka_circuit_breaker_business_impact.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

docs(adr): add ADRs 0011-0017 and fix ADRs 0003-0007
  docs/decisions/0003-multi-tenancy-data-isolation-strategy.md
  docs/decisions/0004-llm-provider-batching-mode-selection.md
  docs/decisions/0005-event-schema-versioning-strategy.md
  docs/decisions/0006-pipeline-completion-state-management.md
  docs/decisions/0007-bff-vs-api-gateway-pattern.md
  docs/decisions/0011-ai-feedback-data-aggregation-strategy.md
  docs/decisions/0012-ai-feedback-pure-kafka-worker-pattern.md
  docs/decisions/0013-ai-feedback-name-resolution-strategy.md
  docs/decisions/0014-ai-feedback-context-builder-pattern.md
  docs/decisions/0015-cj-assessment-convergence-tuning-strategy.md
  docs/decisions/0016-cj-assessment-prompt-caching-strategy.md
  docs/decisions/0017-cj-assessment-wave-submission-pattern.md
Due: validate-docs-structure, markdownlint

docs(epic): add EPIC-003/004 and refactor EPIC-001/002
  docs/product/epics/INDEX.md
  docs/product/epics/ai-feedback-epic.md
  docs/product/epics/cj-assessment-epic.md
  docs/product/epics/identity-access-epic.md
  docs/product/epics/teacher-dashboard-epic.md
Due: validate-docs-structure, markdownlint

docs: update documentation index with new ADRs and epics
  docs/DOCUMENTATION_INDEX.md
Due: validate-docs-structure, markdownlint

fix(hook): allow file deletion in docs while protecting directory structure
  .claude/hooks/enforce-docs-structure.sh
Due: none

docs(rules): refactor bloated flow rules 038 and 039
  .claude/rules/034-processing-flow-inventory.md
  .claude/rules/038-file-upload-processing-flow.md
  .claude/rules/039-results-retrieval-flow.md
Due: validate-claude-structure, markdownlint

feat(ras): add assignment_id to batch results schema
  TASKS/assessment/propagate-assignment-id-from-cj-to-ras-storage-phase-b.md
  services/result_aggregator_service/alembic/versions/20251127_1948_0a6c563e4523_add_assignment_id_to_batch_results.py
  services/result_aggregator_service/implementations/batch_repository_postgres_impl.py
  services/result_aggregator_service/implementations/batch_repository_queries.py
  services/result_aggregator_service/models_api.py
  services/result_aggregator_service/models_db.py
  services/result_aggregator_service/protocols.py
  services/result_aggregator_service/tests/integration/test_assignment_id_batch_migration.py
  services/result_aggregator_service/tests/integration/test_batch_repository_postgres.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

feat(cj): add assignment_id to dual-event publishing
  libs/common_core/docs/dual-event-pattern.md
  libs/common_core/docs/integration-examples.md
  libs/common_core/src/common_core/events/cj_assessment_events.py
  services/cj_assessment_service/cj_core_logic/dual_event_publisher.py
  services/cj_assessment_service/tests/unit/test_dual_event_publishing.py
  services/result_aggregator_service/implementations/assessment_event_handler.py
  services/result_aggregator_service/tests/unit/test_event_processor_impl.py
Due: markdownlint, format-python, lint-python

test(functional): update e2e CJ assessment tests for assignment_id
  tests/functional/test_e2e_cj_assessment_workflows.py
Due: format-python, lint-python

docs(rules): update rule index and processing flow rules
  .claude/rules/000-rule-index.md
  .claude/rules/037-phase2-processing-flow.md
  .claude/rules/037.1-cj-assessment-phase-processing-flow.md
  .windsurf/rules/000-rule-index.md
  .windsurf/rules/037-phase2-processing-flow.md
  .windsurf/rules/037.1-cj-assessment-phase-processing-flow.md
Due: validate-claude-structure, markdownlint

docs: add overview documentation and update structure spec
  docs/DOCS_STRUCTURE_SPEC.md
  docs/overview/README.md
  docs/overview/architecture-diagram.md
  docs/overview/developer-onboarding.md
  docs/product/sprint-schedule-2025-2026.md
Due: validate-docs-structure, markdownlint

chore: sync new flow rules to windsurf
  .windsurf/rules/034-processing-flow-inventory.md
  .windsurf/rules/038-file-upload-processing-flow.md
  .windsurf/rules/039-results-retrieval-flow.md
Due: markdownlint

docs(session): update handoff and readme-first for documentation sprint
  .claude/archive/code-reviews/staged-submission-cj-2025-11-27.md
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
Due: markdownlint

CJ Assessment: serial bundle semantics and runbook rename
  .claude/rules/020.7-cj-assessment-service.md
  .claude/work/session/handoff.md
  .windsurf/rules/020.7-cj-assessment-service.md
  TASKS/assessment/cj-assessment-code-hardening.md
  TASKS/assessment/cj-batch-state-and-completion-fixes.md
  TASKS/assessment/cj-prompt-cache-template-builder.md
  TASKS/assessment/filename-propagation-from-els-to-ras-for-teacher-result-visibility.md
  TASKS/integrations/llm-batch-strategy-checklist.md
  TASKS/integrations/llm-batch-strategy-implementation.md
  TASKS/integrations/llm-batch-strategy-lps-implementation.md
  TASKS/integrations/llm-queue-expiry-metrics-fix.md
  docs/DOCUMENTATION_INDEX.md
  docs/architecture/cj-assessment-service-map.md
  docs/decisions/0016-cj-assessment-prompt-caching-strategy.md
  docs/decisions/0017-cj-assessment-wave-submission-pattern.md
  docs/operations/cj-assessment-runbook.md
  docs/product/epics/cj-assessment-epic.md
  services/cj_assessment_service/README.md
  services/cj_assessment_service/cj_core_logic/llm_batching_service.py
  services/cj_assessment_service/cj_core_logic/workflow_continuation.py
  services/cj_assessment_service/config.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation.py
Due: validate-tasks-frontmatter, validate-docs-structure, validate-claude-structure, markdownlint, format-python, lint-python

LPS: align batching modes and ENG5 runbook with CJ semantics
  .claude/rules/020.13-llm-provider-service-architecture.md
  .claude/rules/020.19-eng5-np-runner-container.md
  .windsurf/rules/020.13-llm-provider-service-architecture.md
  .windsurf/rules/020.19-eng5-np-runner-container.md
  docs/decisions/0004-llm-provider-batching-mode-selection.md
  docs/operations/eng5-np-runbook.md
  services/llm_provider_service/README.md
Due: validate-docs-structure, validate-claude-structure, markdownlint

Tasks tooling: Pydantic v2 frontmatter schema and validation flow
  AGENTS.md
  CLAUDE.md
  CODEX.md
  GEMINI.md
  TASKS/INDEX.md
  TASKS/assessment/cj-llm-provider-batch-api-mode.md
  scripts/task_mgmt/task_frontmatter_schema.py
  scripts/task_mgmt/validate_front_matter.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

chore(eng5): log raw callback metadata for hydrator debugging
  scripts/cj_experiments_runners/eng5_np/hydrator.py
Due: format-python, lint-python

chore(eng5): remove debug logging for callback metadata
  scripts/cj_experiments_runners/eng5_np/hydrator.py
Due: format-python, lint-python

feat(cj): BT SE diagnostics, scoring refactor, and judge_rubric_override
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  CLAUDE.md
  TASKS/assessment/bt-se-batch-quality-indicators.md
  TASKS/assessment/bt-se-zero-anomaly-and-anchor-inversions-investigation.md
  TASKS/assessment/us-0052-score-stability-semantics-and-early-stopping.md
  docs/operations/cj-assessment-runbook.md
  docs/operations/eng5-np-runbook.md
  docs/product/epics/cj-grade-projection-quality.md
  docs/product/epics/cj-stability-and-reliability.md
  libs/common_core/src/common_core/events/cj_assessment_events.py
  observability/grafana/dashboards/HuleEdu_Service_Deep_Dive_Template.json
  scripts/cj_experiments_runners/eng5_np/artefact_io.py
  scripts/cj_experiments_runners/eng5_np/cli.py
  scripts/cj_experiments_runners/eng5_np/settings.py
  scripts/extract_cj_results.py
  scripts/extract_cj_results.sh
  services/cj_assessment_service/batch_monitor.py
  services/cj_assessment_service/cj_core_logic/batch_finalizer.py
  services/cj_assessment_service/cj_core_logic/batch_preparation.py
  services/cj_assessment_service/cj_core_logic/bt_inference.py
  services/cj_assessment_service/cj_core_logic/comparison_processing.py
  services/cj_assessment_service/cj_core_logic/confidence_calculator.py
  services/cj_assessment_service/cj_core_logic/grade_projection/projection_engine.py
  services/cj_assessment_service/cj_core_logic/grade_projector.py
  services/cj_assessment_service/cj_core_logic/scoring_ranking.py
  services/cj_assessment_service/cj_core_logic/workflow_continuation.py
  services/cj_assessment_service/config.py
  services/cj_assessment_service/metrics.py
  services/cj_assessment_service/models_api.py
  services/cj_assessment_service/tests/integration/test_bt_scoring_integration.py
  services/cj_assessment_service/tests/unit/test_confidence_calculator_unit.py
  services/cj_assessment_service/tests/unit/test_grade_projector_system.py
  services/cj_assessment_service/tests/unit/test_workflow_continuation.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

test(cj): BT SE and grade projection test coverage
  services/cj_assessment_service/tests/integration/test_bt_batch_quality_metadata.py
  services/cj_assessment_service/tests/unit/test_bt_se_computation.py
  services/cj_assessment_service/tests/unit/test_grade_projector_calibration.py
  services/cj_assessment_service/tests/unit/test_grade_projector_edge_cases.py
  services/cj_assessment_service/tests/unit/test_grade_projector_fallback.py
  services/cj_assessment_service/tests/unit/test_grade_projector_integration.py
  services/cj_assessment_service/tests/unit/test_grade_projector_probabilities.py
  services/cj_assessment_service/tests/unit/test_grade_utils.py
  services/cj_assessment_service/tests/unit/test_helpers/__init__.py
  services/cj_assessment_service/tests/unit/test_helpers/grade_projector_fixtures.py
  services/cj_assessment_service/tests/unit/test_projection_engine_confidence.py
  services/cj_assessment_service/tests/unit/test_scoring_ranking_bt_helper.py
Due: format-python, lint-python

feat(eng5): handler-based CLI architecture and anchor alignment test mode
  TASKS/assessment/anchor-alignment-prompt-tuning-experiment.md
  scripts/cj_experiments_runners/eng5_np/alignment_report.py
  scripts/cj_experiments_runners/eng5_np/handlers/__init__.py
  scripts/cj_experiments_runners/eng5_np/handlers/anchor_align_handler.py
  scripts/cj_experiments_runners/eng5_np/handlers/base.py
  scripts/cj_experiments_runners/eng5_np/handlers/dry_run_handler.py
  scripts/cj_experiments_runners/eng5_np/handlers/execute_handler.py
  scripts/cj_experiments_runners/eng5_np/handlers/plan_handler.py
  scripts/cj_experiments_runners/eng5_np/prompts/README.md
  scripts/cj_experiments_runners/eng5_np/prompts/rubric/001_baseline.txt
  scripts/cj_experiments_runners/eng5_np/prompts/system/001_baseline.txt
  scripts/cj_experiments_runners/eng5_np/protocols.py
  scripts/cj_experiments_runners/eng5_np/tests/integration/__init__.py
  scripts/cj_experiments_runners/eng5_np/tests/test_helpers/__init__.py
  scripts/cj_experiments_runners/eng5_np/tests/test_helpers/builders.py
  scripts/cj_experiments_runners/eng5_np/tests/test_helpers/fixtures.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/__init__.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_alignment_report.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

chore: reorganize CJ diagnostics scripts and add Grafana dashboard
  observability/grafana/dashboards/HuleEdu_CJ_Assessment_Deep_Dive.json
  scripts/cj_assessment_service/diagnostics/extract_cj_results.py
  scripts/cj_assessment_service/diagnostics/extract_cj_results.sh
  scripts/cj_assessment_service/diagnostics/list_cj_instructions.py
Due: format-python, lint-python

docs: runbook updates, epics, and session context for BT SE work
  .claude/work/reports/2025-11-29-bt-se-anchor-inversion-analysis.md
  .claude/work/reports/2025-11-29-stale-kafka-callbacks-debug.md
Due: markdownlint

refactor(observability): reorganize dashboards into categories with LogQL fixes
  observability/docker-compose.observability.yml
  observability/grafana/dashboards/README.md
  observability/grafana/dashboards/cj-assessment/HuleEdu_CJ_Assessment_Deep_Dive.json
  observability/grafana/dashboards/database/HuleEdu_Database_Deep_Dive.json
  observability/grafana/dashboards/database/HuleEdu_Database_Health_Overview.json
  observability/grafana/dashboards/database/HuleEdu_Database_Troubleshooting.json
  observability/grafana/dashboards/services/HuleEdu_LLM_Prompt_Cache.json
  observability/grafana/dashboards/services/HuleEdu_Service_Deep_Dive_Template.json
  observability/grafana/dashboards/system/HuleEdu_System_Health_Overview.json
  observability/grafana/dashboards/troubleshooting/HuleEdu_Troubleshooting.json
  observability/grafana/dashboards/troubleshooting/tier3-distributed-tracing.json
  observability/grafana/provisioning/dashboards/default.yml
  observability/grafana/provisioning/datasources/jaeger.yml
  observability/grafana/provisioning/datasources/loki.yml
  observability/grafana/provisioning/datasources/prometheus.yml
  observability/prometheus/prometheus.yml
  observability/prometheus/rules/cj-assessment-alerts.yml
  observability/prometheus/rules/database-alerts.yml
  observability/prometheus/rules/distributed-tracing-alerts.yml
  observability/prometheus/rules/infrastructure-alerts.yml
  observability/prometheus/rules/service-health-alerts.yml
  observability/prometheus/rules/service_alerts.yml
Due: markdownlint

feat(observability): add DatabaseMetrics instrumentation to remaining services
  TASKS/infrastructure/add-database-metrics-instrumentation-to-remaining-services.md
  services/batch_conductor_service/di.py
  services/batch_conductor_service/implementations/postgres_batch_state_repository.py
  services/content_service/di.py
  services/file_service/di.py
  services/identity_service/di.py
  services/nlp_service/di.py
  services/spellchecker_service/config.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

feat(eng5): add unit tests for handler-based CLI architecture
  .claude/archive/code-reviews/eng5-np-runner-refactor-and-tests_2025_11_29.md
  docs/architecture/eng5-np-runner-handler-architecture.md
  docs/operations/eng5-np-runbook.md
  scripts/cj_experiments_runners/eng5_np/hydrator.py
  scripts/cj_experiments_runners/eng5_np/kafka_flow.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_anchor_align_handler.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_cli_integration.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_dry_run_handler.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_execute_handler.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_plan_handler.py
Due: validate-docs-structure, markdownlint, format-python, lint-python

docs: update epics, task index, and cleanup obsolete docs
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  MIGRATION_SUMMARY_2025-11-21.md
  REVIEW_PROMPT_METADATA_POPULATION.md
  TASKS/INDEX.md
  TASKS/assessment/anchor-alignment-prompt-tuning-experiment.md
  docs/product/epics/INDEX.md
  docs/product/epics/cj-developer-experience-and-testing-epic.md
  docs/product/epics/cj-grade-projection-quality-epic.md
  docs/product/epics/cj-stability-and-reliability-epic.md
  docs/product/epics/eng5-runner-refactor-and-prompt-tuning-epic.md
  docs/product/epics/observability-metrics-alignment-epic.md
  observability/CRITICAL_METRICS_AUDIT.md
  observability/DASHBOARD_SYNTAX_FIXES.md
  observability/DEPLOYMENT_VALIDATION.md
  observability/LOGQL_SYNTAX_FIX.md
  observability/MIGRATION_NOTES.md
  observability/OBSERVABILITY_STACK_RESOLUTION_SUMMARY.md
  observability/OPTIMIZATION_SUMMARY.md
  observability/VALIDATION_REPORT.md
  scripts/task_mgmt/index_tasks.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

feat(eng5): add alignment reporting with inversion detection and DB support
  scripts/cj_experiments_runners/eng5_np/alignment_report.py
  scripts/cj_experiments_runners/eng5_np/artefact_io.py
  scripts/cj_experiments_runners/eng5_np/db_alignment_report.py
  scripts/cj_experiments_runners/eng5_np/handlers/anchor_align_handler.py
  scripts/cj_experiments_runners/eng5_np/hydrator.py
  scripts/cj_experiments_runners/eng5_np/inventory.py
  scripts/cj_experiments_runners/eng5_np/prompts/rubric/002_anti_narrative.txt
  scripts/cj_experiments_runners/eng5_np/prompts/rubric/003_language_control.txt
  scripts/cj_experiments_runners/eng5_np/prompts/system/002_anti_narrative.txt
  scripts/cj_experiments_runners/eng5_np/prompts/system/003_language_control.txt
  scripts/cj_experiments_runners/eng5_np/tests/test_helpers/builders.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_alignment_report.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_anchor_align_handler.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_db_alignment_report.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_execute_handler.py
  scripts/cj_experiments_runners/eng5_np/tests/unit/test_hydrator_comparisons.py
  scripts/cj_experiments_runners/eng5_np/utils.py
  scripts/tests/test_eng5_np_cli_validation.py
  scripts/tests/test_eng5_np_runner.py
Due: format-python, lint-python

fix(llm-provider): persist config overrides through queue processing
  services/llm_provider_service/implementations/llm_orchestrator_impl.py
  services/llm_provider_service/tests/unit/test_orchestrator.py
  services/llm_provider_service/tests/unit/test_queue_request_executor.py
Due: format-python, lint-python

docs: update runbooks, add dev-shell script and CJ admin CLI commands
  CLAUDE.md
  docs/operations/eng5-np-runbook.md
  docs/operations/llm-provider-configuration-hierarchy.md
  observability/grafana/dashboards/services/HuleEdu_Service_Deep_Dive_Template.json
  scripts/README.md
  scripts/dev-shell.sh
  services/cj_assessment_service/cli_admin.py
Due: validate-docs-structure, markdownlint, format-python, lint-python

docs: update session handoff with alignment reporting context
  .claude/work/session/handoff.md
Due: markdownlint

refactor: remove dead EssayComparisonWinner.ERROR enum
  libs/common_core/src/common_core/domain_enums.py
  scripts/cj_experiments_runners/eng5_np/hydrator.py
  services/cj_assessment_service/cj_core_logic/scoring_ranking.py
  services/cj_assessment_service/tests/integration/test_async_workflow_continuation_integration.py
  services/cj_assessment_service/tests/integration/test_bt_scoring_integration.py
  services/cj_assessment_service/tests/integration/test_incremental_scoring_integration.py
  services/llm_provider_service/implementations/anthropic_provider_impl.py
  services/llm_provider_service/implementations/google_provider_impl.py
  services/llm_provider_service/implementations/openai_provider_impl.py
  services/llm_provider_service/implementations/openrouter_provider_impl.py
Due: format-python, lint-python

refactor(grafana): convert cost savings panel from timeseries to stat
  observability/grafana/dashboards/services/HuleEdu_LLM_Prompt_Cache.json
Due: none

docs: add PR-7 Phase-2 resampling implementation checklist and update session handoff
  .claude/work/session/handoff.md
  docs/product/epics/pr-7-phase2-resampling-checklist.md
Due: validate-docs-structure, markdownlint

docs(epic-007): add dev tooling script consolidation epic and stories
  TASKS/infrastructure/us-0071-shared-utilities-extraction.md
  TASKS/infrastructure/us-0072-schema-consolidation.md
  TASKS/infrastructure/us-0073-creation-scripts.md
  TASKS/infrastructure/us-0074-indexing-scripts.md
  TASKS/infrastructure/us-0075-unified-validation.md
  TASKS/infrastructure/us-0076-refactor-and-pdm-registration.md
  docs/decisions/0019-script-management-consolidation.md
  docs/product/epics/dev-tooling-script-consolidation-epic.md
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint

Path conditions:
  validate-tasks-frontmatter: any of: ^TASKS/.*\.md$, but not: ^TASKS/(_REORGANIZATION_PROPOSAL|INDEX|README|archive/)
  validate-docs-structure: any of: ^docs/.*\.md$, but not: ^docs/(DOCS_STRUCTURE_SPEC|_archive/)
  validate-claude-structure: any of: ^\.claude/rules/.*\.md$, but not: ^\.claude/rules/README\.md$
  markdownlint: any of: \.(md|markdown)$
  format-python: any of: \.py$
  lint-python: any of: \.py$
