Repository paunchygent/huleedu: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-agents-md, validate-tasks-frontmatter, validate-docs-structure, validate-claude-structure, markdownlint, format-python, lint-python

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# See https://pre-commit.com for more information

repos:
-   repo: local
    hooks:
    -   id: sync-agents-md
        name: Sync AGENTS.md to AI assistant files
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && pdm run python scripts/utils/sync_agents_md.py'
        language: system
        files: ^AGENTS\.md$
        pass_filenames: false
        stages: [pre-commit]

    -   id: sync-rules
        name: Sync Rules from .md to .md
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && pdm run python scripts/utils/sync_rules.py --source .claude/rules --target .windsurf/rules'
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]

    -   id: validate-tasks-frontmatter
        name: Validate TASKS frontmatter and structure
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && pdm run python -m scripts.task_mgmt.validate_front_matter'
        language: system
        files: ^TASKS/.*\.md$
        exclude: ^TASKS/(_REORGANIZATION_PROPOSAL|INDEX|README|archive/)
        pass_filenames: false
        stages: [pre-commit]

    -   id: validate-docs-structure
        name: Validate documentation structure
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && pdm run python -m scripts.docs_mgmt.validate_docs_structure'
        language: system
        files: ^docs/.*\.md$
        exclude: ^docs/(DOCS_STRUCTURE_SPEC|_archive/)
        pass_filenames: false
        stages: [pre-commit]

    -   id: validate-claude-structure
        name: Validate .claude/ structure and rule frontmatter
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && pdm run python -m scripts.claude_mgmt.validate_claude_structure'
        language: system
        files: ^\.claude/rules/.*\.md$
        exclude: ^\.claude/rules/README\.md$
        pass_filenames: false
        stages: [pre-commit]

    -   id: markdownlint
        name: Lint markdown files
        entry: markdownlint --fix --config .markdownlint.json
        language: node
        files: \.(md|markdown)$
        additional_dependencies: ['markdownlint-cli@0.45.0']
        stages: [pre-commit]

    -   id: format-python
        name: Format Python files with ruff
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && git ls-files "*.py" | xargs -r pdm run ruff format'
        language: system
        files: \.py$
        pass_filenames: false
        stages: [pre-commit]

    -   id: lint-python
        name: Lint Python files with ruff
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && git ls-files "*.py" | xargs -r pdm run ruff check --fix --unsafe-fixes'
        language: system
        files: \.py$
        pass_filenames: false
        stages: [pre-commit]

ml/offload: persist metrics + update ENG5 runbooks
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  AGENTS.md
  CODEX.md
  GEMINI.md
  TASKS/programs/eng5/eng5-runner-assumption-hardening.md
  docs/architecture/eng5-np-runner-handler-architecture.md
  docs/operations/eng5-np-runbook.md
  docs/operations/ml-nlp-runbook.md
  scripts/ml_training/essay_scoring/cv_shared.py
  scripts/ml_training/essay_scoring/features/pipeline.py
  scripts/ml_training/essay_scoring/features/tier1_error_readability.py
  scripts/ml_training/essay_scoring/logging_utils.py
  scripts/ml_training/essay_scoring/offload/embedding_client.py
  scripts/ml_training/essay_scoring/offload/metrics.py
  scripts/ml_training/essay_scoring/runner.py
  scripts/ml_training/essay_scoring/split_definitions.py
  scripts/ml_training/tests/test_offload_metrics_persist.py
  scripts/ml_training/tests/test_remote_embedding_client_http.py
  scripts/ml_training/tests/test_split_definitions.py
  services/cj_assessment_service/tests/integration/test_context_origin_migration.py
Due: sync-agents-md, validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

ml/offload: plan combined /v1/extract endpoint (one-tunnel Hemma)
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/INDEX.md
  TASKS/assessment/hemma-offload-combined-extract-endpoint.md
  TASKS/assessment/offload-deberta--spacy-features-to-hemma-binary-embedding-service.md
  TASKS/programs/huledu_alpha_launch/hub.md
Due: validate-tasks-frontmatter, markdownlint

assessment: Hemma /v1/extract combined offload endpoint
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/INDEX.md
  TASKS/assessment/hemma-offload-combined-extract-endpoint.md
  docker-compose.hemma.research.yml
  docs/operations/hemma-alpha-rollout-days-1-3.md
  docs/operations/hemma-server-operations-huleedu.md
  docs/operations/ml-nlp-runbook.md
  pyproject.toml
  scripts/ml_training/essay_scoring/cli.py
  scripts/ml_training/essay_scoring/config.py
  scripts/ml_training/essay_scoring/cv_shared.py
  scripts/ml_training/essay_scoring/features/pipeline.py
  scripts/ml_training/essay_scoring/features/tier1_error_readability.py
  scripts/ml_training/essay_scoring/features/tier2_syntactic_cohesion.py
  scripts/ml_training/essay_scoring/offload/extract_client.py
  scripts/ml_training/essay_scoring/offload/extract_models.py
  scripts/ml_training/essay_scoring/offload/metrics.py
  scripts/ml_training/essay_scoring/offload/server.py
  scripts/ml_training/essay_scoring/offload/settings.py
  scripts/ml_training/essay_scoring/runner.py
  scripts/ml_training/tests/test_offload_extract_server.py
  scripts/ml_training/tests/test_pipeline_hemma_no_fallback.py
  scripts/ml_training/tests/test_remote_extract_client_http.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

ml_training: lock offload runtime deps + add run fault logs
  .claude/work/session/handoff.md
  docs/operations/gpu-ai-workloads-on-hemma-huleedu.md
  docs/operations/hemma-server-operations-huleedu.md
  docs/operations/ml-nlp-runbook.md
  pdm.lock
  scripts/ml_training/essay_scoring/logging_utils.py
  scripts/ml_training/essay_scoring/offload/embedder_factory.py
  scripts/ml_training/essay_scoring/offload/extract_meta.py
  scripts/ml_training/essay_scoring/offload/handlers_embed.py
  scripts/ml_training/essay_scoring/offload/handlers_extract.py
  scripts/ml_training/essay_scoring/offload/handlers_observability.py
  scripts/ml_training/essay_scoring/offload/http_app.py
  scripts/ml_training/essay_scoring/offload/http_state.py
  scripts/ml_training/essay_scoring/offload/observability.py
  scripts/ml_training/essay_scoring/offload/server.py
  scripts/ml_training/essay_scoring/offload/spacy_runtime.py
  scripts/ml_training/tests/test_offload_server_observability_endpoints.py
  scripts/ml_training/tests/test_run_file_logger_diagnostics.py
  services/cj_assessment_service/tests/unit/anchor_api_test_helpers.py
  services/cj_assessment_service/tests/unit/test_admin_anchor_endpoints.py
  services/cj_assessment_service/tests/unit/test_admin_prompt_endpoints.py
  services/cj_assessment_service/tests/unit/test_admin_rubric_endpoints.py
  services/cj_assessment_service/tests/unit/test_batch_preparation_identity_flow.py
  services/cj_assessment_service/tests/unit/test_mocks/instruction_store.py
  services/cj_assessment_service/tests/unit/test_mocks/repository_mocks.py
  services/entitlements_service/tests/unit/test_credit_consumption_logic.py
Due: validate-docs-structure, markdownlint, format-python, lint-python

offload: propagate X-Correlation-ID for /v1/extract
  .claude/work/session/handoff.md
  TASKS/INDEX.md
  TASKS/assessment/hemma-offload-combined-extract-endpoint.md
  TASKS/programs/eng5/eng5-runner-assumption-hardening.md
  scripts/ml_training/essay_scoring/offload/extract_client.py
  scripts/ml_training/essay_scoring/offload/handlers_embed.py
  scripts/ml_training/essay_scoring/offload/handlers_extract.py
  scripts/ml_training/essay_scoring/offload/handlers_observability.py
  scripts/ml_training/tests/test_offload_extract_server.py
  services/cj_assessment_service/tests/unit/test_batch_monitor.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

essay-scoring: mark status failed on interrupt
  scripts/ml_training/essay_scoring/logging_utils.py
  scripts/ml_training/tests/test_runner_status_interrupt.py
Due: format-python, lint-python

essay-scoring: mark status failed on signals
  .claude/work/session/handoff.md
  TASKS/INDEX.md
  TASKS/assessment/essay-scoring-runner-mark-statusjson-failed-on-sigint-sigterm.md
  scripts/ml_training/essay_scoring/logging_utils.py
  scripts/ml_training/tests/test_runner_status_interrupt.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

feat: add transformer fine-tuning workflow scaffolding
  .claude/work/session/handoff.md
  TASKS/INDEX.md
  TASKS/assessment/essay-scoring-transformer-fine-tuning--prompt-invariance-experiments.md
  scripts/ml_training/essay_scoring/transformer_finetune.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

feat: add transformer fine-tuning CV runner and update Gate G3 contract
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/essay-scoring-transformer-fine-tuning--prompt-invariance-experiments.md
  scripts/ml_training/essay_scoring/tests/test_transformer_finetune.py
  scripts/ml_training/essay_scoring/transformer_finetune.py
Due: validate-tasks-frontmatter, markdownlint, format-python, lint-python

feat(essay-scoring): add canonical transformer-finetune command
  scripts/ml_training/essay_scoring/cli.py
  scripts/ml_training/essay_scoring/commands/transformer_commands.py
Due: format-python, lint-python

Add length bucketing for transformer fine-tune batches
  scripts/ml_training/essay_scoring/tests/test_transformer_finetune.py
  scripts/ml_training/essay_scoring/transformer_finetune.py
Due: format-python, lint-python

Harden G3 transformer launch for Hemma GPU runtime
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/essay-scoring-transformer-fine-tuning--prompt-invariance-experiments.md
  docker-compose.hemma.research.yml
  docs/operations/gpu-ai-workloads-on-hemma-huleedu.md
  docs/operations/hemma-server-operations-huleedu.md
  docs/operations/ml-nlp-runbook.md
  scripts/codex_skills/essay-scoring-research/SKILL.md
  scripts/codex_skills/huledu-devops-hemma/SKILL.md
  scripts/ml_training/essay_scoring/commands/transformer_commands.py
  scripts/ml_training/essay_scoring/offload/Dockerfile.transformer_train
  scripts/ml_training/essay_scoring/tests/test_transformer_finetune.py
  scripts/ml_training/essay_scoring/transformer_finetune.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

Preserve ROCm torch in transformer training image build
  scripts/ml_training/essay_scoring/offload/Dockerfile.transformer_train
Due: none

Harden G3 Hemma launcher and add strict local/remote execution wrappers
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  AGENTS.md
  CODEX.md
  GEMINI.md
  TASKS/assessment/essay-scoring-transformer-fine-tuning--prompt-invariance-experiments.md
  docs/operations/ml-nlp-runbook.md
  pyproject.toml
  scripts/codex_skills/essay-scoring-research/SKILL.md
  scripts/codex_skills/huledu-devops-hemma/SKILL.md
  scripts/ml_training/essay_scoring/cli.py
  scripts/ml_training/essay_scoring/commands/g3_launch_commands.py
  scripts/ml_training/essay_scoring/g3_launch_hemma.py
  scripts/ml_training/essay_scoring/tests/test_g3_launch_hemma.py
  scripts/ml_training/essay_scoring/tests/test_transformer_finetune.py
  scripts/ml_training/essay_scoring/transformer_finetune.py
  scripts/run-hemma.sh
  scripts/run-local-pdm.sh
Due: sync-agents-md, validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

Fix Hemma wrapper argv transport and fail-closed LoRA preflight
  pdm.lock
  pyproject.toml
  scripts/ml_training/essay_scoring/g3_launch_hemma.py
  scripts/ml_training/essay_scoring/tests/test_g3_launch_hemma.py
  scripts/run-hemma.sh
Due: format-python, lint-python

Use fp16 for auto mixed precision on ROCm to avoid bf16 launch failures
  scripts/ml_training/essay_scoring/tests/test_transformer_finetune.py
  scripts/ml_training/essay_scoring/transformer_finetune.py
Due: format-python, lint-python

Disable GradScaler for ROCm fp16 mixed precision
  scripts/ml_training/essay_scoring/tests/test_transformer_finetune.py
  scripts/ml_training/essay_scoring/transformer_finetune.py
Due: format-python, lint-python

Update G3.1 gate evidence across task, ADR, review, and session docs
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/essay-scoring-transformer-fine-tuning--prompt-invariance-experiments.md
  docs/decisions/0031-essay-scoring-experiment-optimization-dependencies-optuna-hf-training-baselines.md
  docs/product/reviews/review-transformer-fine-tuning-prompt-invariance-dependencies.md
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint

Harden G3 Hemma runtime contract and fail-closed precision
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/essay-scoring-transformer-fine-tuning--prompt-invariance-experiments.md
  docker-compose.hemma.research.yml
  docs/decisions/0031-essay-scoring-experiment-optimization-dependencies-optuna-hf-training-baselines.md
  docs/operations/gpu-ai-workloads-on-hemma-huleedu.md
  docs/operations/ml-nlp-runbook.md
  docs/product/reviews/review-transformer-fine-tuning-prompt-invariance-dependencies.md
  scripts/ml_training/essay_scoring/g3_launch_hemma.py
  scripts/ml_training/essay_scoring/offload/Dockerfile.transformer_train
  scripts/ml_training/essay_scoring/tests/test_g3_launch_hemma.py
  scripts/ml_training/essay_scoring/tests/test_transformer_finetune.py
  scripts/ml_training/essay_scoring/transformer_finetune.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

Use base-image marker check and fix sequential Hemma deploy flow
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/essay-scoring-transformer-fine-tuning--prompt-invariance-experiments.md
  docs/operations/ml-nlp-runbook.md
  scripts/ml_training/essay_scoring/g3_launch_hemma.py
  scripts/ml_training/essay_scoring/offload/Dockerfile.transformer_train
  scripts/ml_training/essay_scoring/tests/test_g3_launch_hemma.py
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint, format-python, lint-python

Update G3 docs to reflect completed Hemma redeploy
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/essay-scoring-transformer-fine-tuning--prompt-invariance-experiments.md
  docs/decisions/0031-essay-scoring-experiment-optimization-dependencies-optuna-hf-training-baselines.md
  docs/product/reviews/review-transformer-fine-tuning-prompt-invariance-dependencies.md
Due: validate-tasks-frontmatter, validate-docs-structure, markdownlint

Fix fp32 Gate G3 model load
  scripts/ml_training/essay_scoring/tests/test_transformer_finetune.py
  scripts/ml_training/essay_scoring/transformer_finetune.py
Due: format-python, lint-python

Record G3 dtype mismatch fix
  .claude/work/session/handoff.md
  .claude/work/session/readme-first.md
  TASKS/assessment/essay-scoring-transformer-fine-tuning--prompt-invariance-experiments.md
Due: validate-tasks-frontmatter, markdownlint
